<style scoped lang="scss">
@use '@/style/style.scss';

.site {
  z-index: 1;
  top: 0;
}

.modal {
  &.v--modal-overlay {
    background: transparent;
  }
  .v--modal-box {
    background: rgba(0, 0, 0, 0.6);
  }
}

.editor__box {
  position: fixed;
  bottom: 0;
  background: transparent;
  z-index: 1000;
  padding: 10px;
}
.editor__header {
  height: 50px;
  width: 100%;
  background-color: #2c2c2c;
  position: fixed;
  bottom: 0;
  z-index: 100;
}
.editor__header--nav {
  color: #aaa;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  height: 100%;
  &:hover {
    color: #fff;
    background: #000;
  }
}
.editor__wrapper {
  // height: 100vh;
  width: 100%;
}
.editor__button {
  z-index: 1000;
  top: 100px;
  left: 20px;
  background: #222;
  color: #ffffff;
  display: block;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.editor__draggable {
  height: 10px;
  width: 100%;
  background: #888;
}
.editor__mobile {
  width: 100%;
  height: 100%;
}
.editor__desktop {
  width: 100%;
  height: 100%;
}
.editor__panel {
  border-top: 5px solid #2c2c2c;
  width: 100%;
  overflow-y: scroll;
}
.editor__preview {
  background: rgba(0, 0, 0, 0.1);
  height: 50vh;
  width: 100%;
}

.vh50 {
  height: 50vh;
}
.vh0 {
  height: 0vh;
}
.vh100 {
  height: 100vh;
}
.vh90 {
  height: calc(100vh-50px);
}
.vh10 {
  height: 50px;
}
</style>

<template>
  <div class="flex flex-col justify-start min-h-screen">
    <div
      class="flex flex-row w-full editor__header justify-between items-center"
      v-if="false"
    >
      <div class="flex flex-row">
        <div class="editor__header--nav flex flex-row items-center">
          <span class="pr-2 font-bold">{{ site.name }}</span>
          <a :href="`https://swiftly.id/${site.slug}`" target="_blank"
            >swiftly.id/{{ site.slug }}</a
          >
        </div>
      </div>
      <div class="flex flex-row">
        <!-- <div class="editor__button" @click="editorModalShow">Edit Design</div> -->
        <div
          class="editor__header--nav flex flex-row items-center"
          @click="editMode = false"
        >
          Dashboard
        </div>
        <div
          class="editor__header--nav flex flex-row items-center"
          v-if="editorView === 'mobile'"
          @click="editorView = 'desktop'"
        >
          <font-awesome-icon icon="desktop" />
          <span class="pl-1">Desktop View</span>
        </div>
        <div
          class="editor__header--nav flex flex-row items-center"
          v-if="editorView === 'desktop'"
          @click="editorView = 'mobile'"
        >
          <font-awesome-icon icon="mobile" />
          <span class="pl-1">Mobile View</span>
        </div>
        <!-- <div
          class="editor__header--nav flex flex-row items-center"
          @click="saveStyle"
        >
          Save Design ({{ autosaveTime - autosaveCount }})
        </div> -->
      </div>
      <div class="flex flex-row">
        <div
          class="editor__header--nav flex flex-row items-center"
          @click="$router.push('/dashboard')"
        >
          My Sites
        </div>
        <div class="editor__header--nav flex flex-row items-center">
          <font-awesome-icon icon="user" />
          <span class="pl-1">Account</span>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col flex-grow justify-start items-start editor__wrapper"
    >
      <div
        :class="`editor__preview flex flex-grow flex-col justify-start items-center ${divideView.site}`"
      >
        <div :class="editorMode.editor">
          <EditorInstagram
            v-if="page.type === 'instagram'"
            :device="editorMode.device"
            @navigate="navigate"
          ></EditorInstagram>
          <EditorLinks
            v-if="page.type === 'links'"
            :device="editorMode.device"
            @navigate="navigate"
          ></EditorLinks>
        </div>
      </div>
      <div :class="`editor__panel ${divideView.panel}`">
        <EditorPanel
          :site="site._id"
          device="mobile"
          v-if="editMode"
        ></EditorPanel>
        <Site v-if="!editMode && !hasPage"></Site>
        <Page v-if="!editMode && hasPage"></Page>
      </div>
    </div>
    <div class="flex flex-row editor__header items-center justify-between">
      <div class="flex flex-row">
        <div
          class="editor__header--nav flex flex-row items-center"
          @click="$router.push('/dashboard')"
        >
          My Sites
        </div>
        <div class="editor__header--nav flex flex-row items-center">
          <font-awesome-icon icon="user" />
          <span class="pl-1">Account</span>
        </div>
      </div>
      <div class="flex flex-row">
        <p
          class="editor__header--nav flex flex-row items-center"
          @click="view = 'site'"
          v-if="view === 'panel'"
        >
          View Site
        </p>
        <p
          class="editor__header--nav flex flex-row items-center"
          @click="view = 'panel'"
          v-if="view === 'mixed'"
        >
          View Panel
        </p>
        <p
          class="editor__header--nav flex flex-row items-center"
          @click="view = 'mixed'"
          v-if="view === 'site'"
        >
          View Both
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import EditorPanel from "@/components/editor/EditorPanel.vue";
import EditorInstagram from "@/components/editor/EditorInstagram.vue";
import EditorLinks from "@/components/editor/EditorLinks.vue";

import Site from "@/components/integration/Site.vue";
import Page from "@/components/integration/Page.vue";

export default {
  name: "Editor",
  props: {
    propPage: String,
    propSite: String,
    hasEditor: Boolean,
  },
  components: {
    EditorPanel,
    EditorInstagram,
    EditorLinks,
    Site,
    Page,
  },
  created: async function () {
    axios.defaults.headers.common["Authorization"] = localStorage.getItem(
      "jwtToken"
    );
    //Figure out params logic
    this.params.page =
      this.$route.params.page === undefined
        ? this.propPage
        : this.$route.params.page;
    this.params.site =
      this.$route.params.site === undefined
        ? this.propSite
        : this.$route.params.site;
    this.hasPage = this.params.page !== undefined;

    //Get Data
    await this.siteGetData();
    // this.autosaveStart();

    //Can use this to get HTML and save it somewhere
    // console.log(this.$refs.site.innerHTML);
  },
  data: function () {
    return {
      params: {
        page: "",
        site: "",
        hasPage: false,
      },
      autosave: "",
      autosaveCounter: "",
      autosaveCount: 0,
      autosaveTime: 300,
      view: "mixed", //mixed, site, panel
    };
  },
  computed: {
    divideView: function () {
      if (this.view === "mixed") {
        return {
          site: "vh50",
          panel: "vh50",
        };
      } else if (this.view === "site") {
        return {
          site: "vh100",
          panel: "vh0",
        };
      } else if (this.view === "panel") {
        return {
          site: "vh0",
          panel: "vh100",
        };
      }
    },
    site: function () {
      return this.$store.getters["site"].site;
    },
    page: function () {
      return this.$store.getters["site"].page;
    },
    design: function () {
      return this.$store.getters["site"].design;
    },
    posts: function () {
      return this.$store.getters["site"].posts;
    },
    pages: function () {
      return this.$store.getters["site"].pages;
    },
    componentStyle: function () {
      return this.$store.getters["style"];
    },
    editorView: {
      get() {
        return this.$store.getters["editorView"];
      },
      set(value) {
        this.$store.commit("editorView", value);
      },
    },
    editMode: {
      get() {
        return this.$store.getters["editMode"];
      },
      set(value) {
        this.$store.commit("editMode", value);
      },
    },
    editorMode: function () {
      if (this.editorView === "mobile") {
        return {
          panel: "editor__panel w-6/12",
          editor: "editor__mobile",
          device: "mobile",
        };
      }
      if (this.editorView === "desktop") {
        return {
          panel: "editor__panel w-4/12",
          editor: "editor__desktop",
          device: "desktop",
        };
      }
    },
    hasPage: {
      get() {
        return this.$store.getters["hasPage"];
      },
      set(value) {
        this.$store.commit("hasPage", value);
      },
    },
  },
  destroyed: function () {
    this.autosaveStop();
  },
  methods: {
    autosaveStart: function () {
      this.autosave = setInterval((x) => {
        this.saveStyle();
      }, this.autosaveTime * 1000);
      this.autosaveCounter = setInterval((x) => {
        this.autosaveCount++;
      }, 1000);
    },
    autosaveStop: function () {
      clearInterval(this.autosave);
      clearInterval(this.autosaveCounter);
      this.autosaveCount = 0;
      console.log("autosave stop");
    },
    saveStyle: function () {
      this.$store.dispatch("style", {
        style: this.componentStyle,
        site: this.params.site,
        save: true,
      });

      this.$notify({
        group: "popups",
        title: "Design Saved Mobile",
        text: "Awesome!",
      });
      this.autosaveStop();
      this.autosaveStart();
    },
    editorModalShow: function () {
      this.$modal.show("editor");
    },
    siteGetData: async function () {
      let url = "";
      let pkg = {};
      if (this.params.hasPage) {
        url = `/api/page/load`;
        pkg = {
          site: this.params.site,
          slug: this.params.page,
        };
      } else {
        url = `/api/site/load`;
        pkg = {
          slug: this.params.site,
        };
      }

      //Get Site Info
      let siteResult = await axios.post(process.env.VUE_APP_API + url, pkg);

      //Get All Pages
      let pagesResult = await axios.get(
        process.env.VUE_APP_API +
          `/api/site/get/pages/${siteResult.data.site._id}`
      );
      let pages = pagesResult.data.pages;

      //Add Data to Payload
      let payload = {
        site: siteResult.data.site,
        page: siteResult.data.page,
        posts: siteResult.data.posts,
        design: siteResult.data.design,
        pages: pages,
      };

      //Dispatch Payload
      this.$store.commit("site", {
        type: "all",
        ...payload,
      });

      this.$store.commit("style", {
        style: JSON.parse(this.design.style),
      });
    },
    navigate: async function (page) {
      let slug = page.slug;

      //Block same page redirection
      if (slug === this.params.page) {
        return;
      }
      if (page._id === this.site.home && this.params.page === undefined) {
        return;
      }

      //URL and Nav Interpreter Logic
      if (page._id === this.site.home) {
        this.params.page = undefined;
        this.params.hasPage = false;
        let url = this.hasEditor
          ? `/dashboard/${this.params.site}`
          : `/dashboard/${this.params.site}`;
        await this.$router.push(url);
      } else {
        this.params.page = slug;
        this.params.hasPage = true;
        let url = this.hasEditor
          ? `/dashboard/${this.params.site}/${this.params.page}`
          : `/dashboard/${this.params.site}/${this.params.page}`;
        await this.$router.push(url);
      }

      //Refresh Data
      await this.siteGetData();
    },
    desktopView: async function () {
      let slug = this.params.page;
      this.params.hasPage = true;
      let url = `/editor/${this.params.site}`;
      await this.$router.push(url);
    },
  },
};
</script>
