<style scoped lang="scss">
@use '@/style/style.scss';

.editor__panel {
  padding: 20px;
  margin: 20px 0px;
}
.editor__back {
  background: #888;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
}
</style>

<template>
  <div class="flex flex-col editor__panel overflow-y-scroll h-full w-full">
    <div class="flex flex-col w-full h-full justify-center" v-if="tab === ''">
      <div
        class="form__button text-center mb-2"
        @click="tabChoose('background')"
      >
        Background
      </div>
      <div class="form__button text-center mb-2" @click="tabChoose('body')">
        Body
      </div>
      <div class="form__button text-center mb-2" @click="tabChoose('card')">
        Card
      </div>
      <div
        class="form__button text-center mb-2"
        @click="tabChoose('cardImage')"
      >
        Card Image
      </div>
      <div class="form__button text-center mb-2" @click="tabChoose('header')">
        Header
      </div>
      <div
        class="form__button text-center mb-2"
        @click="tabChoose('headerTitle')"
      >
        Header Title
      </div>
      <div
        class="form__button text-center mb-2"
        @click="tabChoose('navigation')"
      >
        Navigation
      </div>
      <div
        class="form__button text-center mb-2"
        @click="tabChoose('navigationLink')"
      >
        Navigation Link
      </div>
    </div>
    <div class="flex flex-col w-full" v-if="tab !== ''">
      <p class="editor__back flex flex-col self-start mb-5" @click="tabBack">
        Back
      </p>
      <Background :site="site" v-if="tab === 'background'"></Background>
      <Body :site="site" v-if="tab === 'body'"></Body>
      <Card :site="site" v-if="tab === 'card'"></Card>
      <CardImage :site="site" v-if="tab === 'cardImage'"></CardImage>
      <Header :site="site" v-if="tab === 'header'"></Header>
      <HeaderTitle :site="site" v-if="tab === 'headerTitle'"></HeaderTitle>
      <Navigation :site="site" v-if="tab === 'navigation'"></Navigation>
      <NavigationLink
        :site="site"
        v-if="tab === 'navigationLink'"
      ></NavigationLink>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import Background from "@/components/editor/Background.vue";
import Body from "@/components/editor/Body.vue";
import Card from "@/components/editor/Card.vue";
import CardImage from "@/components/editor/CardImage.vue";
import Header from "@/components/editor/Header.vue";
import HeaderTitle from "@/components/editor/HeaderTitle.vue";
import Navigation from "@/components/editor/Navigation.vue";
import NavigationLink from "@/components/editor/NavigationLink.vue";

export default {
  name: "EditorPanel",
  props: { site: String },
  components: {
    Background,
    Body,
    Card,
    CardImage,
    Header,
    HeaderTitle,
    Navigation,
    NavigationLink
  },
  created: function() {},
  data: function() {
    return {
      tab: ""
    };
  },
  destroyed: function() {
    console.log("gone");
    axios
      .post(process.env.VUE_APP_API + `/api/site/update/design`, {
        site: this.site,
        style: this.componentStyle
      })
      .then(res => {
        console.log("ok");
      });

    this.$notify({
      group: "popups",
      title: "Design Saved",
      text: "Awesome!"
    });
  },
  computed: {
    componentStyle: {
      get() {
        return this.$store.getters["style"];
      },
      set(value) {
        return this.$store.dispatch("style", {
          style: value,
          site: this.site
        });
      }
    }
  },
  methods: {
    tabChoose: function(tab) {
      this.tab = tab;
    },
    tabBack: function(tab) {
      this.tab = "";
    }
  }
};
</script>
