<style scoped lang="scss">
.editor__panel {
  // width: 300px;
  padding: 10px;
}
</style>

<template>
  <div
    class="flex flex-col editor__panel overflow-y-scroll h-full w-full"
  >
    <b>Background</b>
    <StyleInput
      :label="'Background Color'"
      :all="compStyle"
      :scomp="'background'"
      :sproperty="'background-color'"
      :type="'color'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Top'"
      :all="compStyle"
      :scomp="'background'"
      :sproperty="'padding-top'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Bottom'"
      :all="compStyle"
      :scomp="'background'"
      :sproperty="'padding-bottom'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Right'"
      :all="compStyle"
      :scomp="'background'"
      :sproperty="'padding-right'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Left'"
      :all="compStyle"
      :scomp="'background'"
      :sproperty="'padding-left'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>

    <b>Header</b>
    <StyleInput
      :label="'Header Background Color'"
      :all="compStyle"
      :scomp="'header'"
      :sproperty="'background-color'"
      :type="'color'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Header Text Align'"
      :all="compStyle"
      :scomp="'header'"
      :sproperty="'text-align'"
      :options="[
        { value: 'center', text: 'Center' },
        { value: 'left', text: 'Left' },
        { value: 'right', text: 'Right' }
      ]"
      :type="'select'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Header Width'"
      :all="compStyle"
      :scomp="'header'"
      :sproperty="'width'"
      :type="'slider'"
      :decorator="'%'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Top'"
      :all="compStyle"
      :scomp="'header'"
      :sproperty="'padding-top'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Bottom'"
      :all="compStyle"
      :scomp="'header'"
      :sproperty="'padding-bottom'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Right'"
      :all="compStyle"
      :scomp="'header'"
      :sproperty="'padding-right'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Left'"
      :all="compStyle"
      :scomp="'header'"
      :sproperty="'padding-left'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <b>Header Title</b>
    <StyleInput
      :label="'Header Title Font Size'"
      :all="compStyle"
      :scomp="'header__title'"
      :sproperty="'font-size'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Header Title Font Weight'"
      :all="compStyle"
      :scomp="'header__title'"
      :sproperty="'font-weight'"
      :type="'slider'"
      :decorator="''"
      :max="1000"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Color'"
      :all="compStyle"
      :scomp="'header__title'"
      :sproperty="'color'"
      :type="'color'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Top'"
      :all="compStyle"
      :scomp="'header__title'"
      :sproperty="'padding-top'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Bottom'"
      :all="compStyle"
      :scomp="'header__title'"
      :sproperty="'padding-bottom'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Right'"
      :all="compStyle"
      :scomp="'header__title'"
      :sproperty="'padding-right'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Left'"
      :all="compStyle"
      :scomp="'header__title'"
      :sproperty="'padding-left'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <b>Navigation</b>
    <StyleInput
      :label="'Navigation Width'"
      :all="compStyle"
      :scomp="'navigation'"
      :sproperty="'width'"
      :type="'slider'"
      :decorator="'%'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Navigation Text Align'"
      :all="compStyle"
      :scomp="'navigation'"
      :sproperty="'text-align'"
      :options="[
        { value: 'center', text: 'Center' },
        { value: 'left', text: 'Left' },
        { value: 'right', text: 'Right' }
      ]"
      :type="'select'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Navigation Background Color'"
      :all="compStyle"
      :scomp="'navigation'"
      :sproperty="'background-color'"
      :type="'color'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Top'"
      :all="compStyle"
      :scomp="'navigation'"
      :sproperty="'padding-top'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Bottom'"
      :all="compStyle"
      :scomp="'navigation'"
      :sproperty="'padding-bottom'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Right'"
      :all="compStyle"
      :scomp="'navigation'"
      :sproperty="'padding-right'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Left'"
      :all="compStyle"
      :scomp="'navigation'"
      :sproperty="'padding-left'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    
    <p>Links</p>
    <StyleInput
      :label="'Font Size'"
      :all="compStyle"
      :scomp="'navigation__link'"
      :sproperty="'font-size'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Font Weight'"
      :all="compStyle"
      :scomp="'navigation__link'"
      :sproperty="'font-weight'"
      :type="'slider'"
      :decorator="''"
      :max="1000"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Navigation Link Color'"
      :all="compStyle"
      :scomp="'navigation__link'"
      :sproperty="'color'"
      :type="'color'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Top'"
      :all="compStyle"
      :scomp="'navigation__link'"
      :sproperty="'padding-top'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Bottom'"
      :all="compStyle"
      :scomp="'navigation__link'"
      :sproperty="'padding-bottom'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Right'"
      :all="compStyle"
      :scomp="'navigation__link'"
      :sproperty="'padding-right'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Left'"
      :all="compStyle"
      :scomp="'navigation__link'"
      :sproperty="'padding-left'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <b>Body</b>
    <StyleInput
      :label="'Body Background Color'"
      :all="compStyle"
      :scomp="'body'"
      :sproperty="'background-color'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Body Width'"
      :all="compStyle"
      :scomp="'body'"
      :sproperty="'max-width'"
      :type="'slider'"
      :decorator="'px'"
      :max="1280"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Top'"
      :all="compStyle"
      :scomp="'body'"
      :sproperty="'padding-top'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Bottom'"
      :all="compStyle"
      :scomp="'body'"
      :sproperty="'padding-bottom'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Right'"
      :all="compStyle"
      :scomp="'body'"
      :sproperty="'padding-right'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Left'"
      :all="compStyle"
      :scomp="'body'"
      :sproperty="'padding-left'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>

    <b>Card</b>
    <StyleInput
      :label="'Column'"
      :all="compStyle"
      :scomp="'card'"
      :sproperty="'column'"
      :options="[
        { value: 'w-12/12', text: 'One' },
        { value: 'w-6/12', text: 'Two' },
        { value: 'w-4/12', text: 'Three' },
        { value: 'w-3/12', text: 'Four' }
      ]"
      :type="'selectClass'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Top'"
      :all="compStyle"
      :scomp="'card'"
      :sproperty="'padding-top'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Bottom'"
      :all="compStyle"
      :scomp="'card'"
      :sproperty="'padding-bottom'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Right'"
      :all="compStyle"
      :scomp="'card'"
      :sproperty="'padding-right'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Padding Left'"
      :all="compStyle"
      :scomp="'card'"
      :sproperty="'padding-left'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>

    <b>Card IMG</b>
    <StyleInput
      :label="'Card IMG Border Radius'"
      :all="compStyle"
      :scomp="'card__img'"
      :sproperty="'border-radius'"
      :type="'slider'"
      :decorator="'px'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
    <StyleInput
      :label="'Card IMG Width'"
      :all="compStyle"
      :scomp="'card__img'"
      :sproperty="'width'"
      :type="'slider'"
      :decorator="'%'"
      @input="
        newValue => {
          compStyle = newValue;
        }
      "
    ></StyleInput>
  </div>
</template>

<script>
import StyleInput from "@/components/StyleInput.vue";
import axios from "axios"

export default {
  name: "Input",
  props: { slug: String },
  components: {
    StyleInput
  },
  created: function() {},
  destroyed: function() {
    console.log("gone");
    axios
      .post(process.env.VUE_APP_API + `/sites/update/page/style`, {
        slug: this.slug,
        style: this.compStyle
      })
      .then(res => {
        console.log("ok");
      });
  },
  computed: {
    compStyle: {
      get() {
        return this.$store.getters["style"];
      },
      set(value) {
        return this.$store.dispatch("style", {
          style: value,
          slug: this.slug
        });
      }
    }
  }
};
</script>
