<style scoped lang="scss"></style>

<template>
  <div>
    <p>{{ label }}</p>
    <div v-if="type === ''">
      <input v-model="localAddress" />
    </div>
    <div v-if="type === 'select'">
      <v-select v-model="selectAddress" :options="options"></v-select>
    </div>
    <div v-if="type === 'selectClass'">
      <v-select v-model="classAddress" :options="options"></v-select>
    </div>
    <div v-if="type === 'slider'">
      <vue-slider
        v-model="sliderAddress"
        :max="max === undefined ? 100 : max"
      />
    </div>
    <div v-if="type === 'color'">
      <p @click="showPicker = !showPicker">
        {{ showPicker ? "Hide Picker" : "Show Picker" }}
      </p>
      <sketch-picker v-model="colorAddress" v-if="showPicker" />
    </div>
  </div>
</template>

<script>
import _ from "lodash";

import VSelect from "@alfsnd/vue-bootstrap-select";
import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/antd.css";
import { Sketch } from "vue-color";

export default {
  name: "Input",
  props: {
    type: String,
    all: Array,
    label: String,
    scomp: String,
    sproperty: String,
    options: Array,
    decorator: String,
    max: Number
  },
  components: {
    VSelect,
    VueSlider,
    "sketch-picker": Sketch
  },
  data: function() {
    return {
      showPicker: false
    };
  },
  computed: {
    sliderAddress: {
      get() {
        if (this.decorator === "") {
          return this.all
            .filter(x => x.component === this.scomp)[0]
            .style.filter(x => x.property === this.sproperty)[0]
            .value.replace(this.decorator, "");
        }
        return this.all
          .filter(x => x.component === this.scomp)[0]
          .style.filter(x => x.property === this.sproperty)[0]
          .value.replace(this.decorator, "");
      },
      set(localAddress) {
        this.all
          .filter(x => x.component === this.scomp)[0]
          .style.filter(x => x.property === this.sproperty)[0].value =
          localAddress + this.decorator;
        this.$emit("input", this.all);
      }
    },
    localAddress: {
      get() {
        return this.all
          .filter(x => x.component === this.scomp)[0]
          .style.filter(x => x.property === this.sproperty)[0].value;
      },
      set(localAddress) {
        this.all
          .filter(x => x.component === this.scomp)[0]
          .style.filter(
            x => x.property === this.sproperty
          )[0].value = localAddress;
        this.$emit("input", this.all);
      }
    },
    classAddress: {
      get() {
        let value = this.all
          .filter(x => x.component === this.scomp)[0]
          .class.filter(x => x.label === this.sproperty)[0].value;
        console.log(value)
        return this.options.filter(x => x.value === value)[0];
      },
      set(localAddress) {
        this.all
          .filter(x => x.component === this.scomp)[0]
          .class.filter(x => x.label === this.sproperty)[0].value =
          localAddress.value;
        this.$emit("input", this.all);
      }
    },
    colorAddress: {
      get() {
        return this.all
          .filter(x => x.component === this.scomp)[0]
          .style.filter(x => x.property === this.sproperty)[0].value;
      },
      set(localAddress) {
        console.log(localAddress);
        this.all
          .filter(x => x.component === this.scomp)[0]
          .style.filter(
            x => x.property === this.sproperty
          )[0].value = `rgba(${localAddress.rgba.r}, ${localAddress.rgba.g}, ${localAddress.rgba.b}, ${localAddress.rgba.a})`;
        this.$emit("input", this.all);
      }
    },
    selectAddress: {
      get() {
        let value = this.all
          .filter(x => x.component === this.scomp)[0]
          .style.filter(x => x.property === this.sproperty)[0].value;
        return this.options.filter(x => x.value === value)[0];
      },
      set(localAddress) {
        this.all
          .filter(x => x.component === this.scomp)[0]
          .style.filter(x => x.property === this.sproperty)[0].value =
          localAddress.value;
        this.$emit("input", this.all);
      }
    }
  }
};
</script>
