<style scoped lang="scss">
.editor__header {
  height: 50px;
  width: 100%;
  background-color: #2c2c2c;
}
.editor__header--nav {
  color: #aaa;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  height: 100%;
  &:hover {
    color: #fff;
    background: #000;
  }
}
</style>

<template>
  <div class="flex flex-row w-full editor__header justify-between items-center">
    <div class="flex flex-row">
      <div class="editor__header--nav flex flex-row items-center">
        <span class="pr-2 font-bold">Swiftly.id</span>
        <!-- <a :href="`https://swiftly.id/${site.slug}`" target="_blank"
          >swiftly.id/{{ site.slug }}</a
        > -->
      </div>
    </div>
    <div class="flex flex-row">
      <div
        class="editor__header--nav flex flex-row items-center"
        @click="$router.push('/dashboard')"
      >
        My Sites
      </div>
      <div
        class="editor__header--nav flex flex-row items-center"
        @click="logout"
      >
        <!-- <font-awesome-icon icon="user" /> -->
        <span class="pl-1">Logout</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Input",
  props: {},
  computed: {
    site: function () {
      return this.$store.getters["site"].site;
    },
  },
  methods: {
    logout: function () {
      localStorage.removeItem("jwtToken");
      localStorage.removeItem("usergroup");
      this.$router.push("/");
      this.$notify({
        group: "popups",
        title: "Logout Successful",
        text: "Thank you for using SocialSite",
      });
    },
  },
};
</script>
