<style scoped lang="scss">
@use '@/style/style.scss';

.bg {
  padding-top: 10px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.site__name {
  font-size: 24 x;
  font-weight: 600;
  color: #222;
}
.site__link {
  font-size: 14px;
  color: #666;
}

.toolbar__button {
  background: #888;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: 5px;
  border-bottom: 2px solid #666;
}
</style>

<template>
  <div class="bg flex flex-col items-center h-full overflow-y-scroll">
    <div class="wrapper flex flex-col justify-center items-center">
      <div class="flex flex-col items-start w-full">
        <p class="page__back flex flex-row items-center mb-2" @click="siteBack">
          <font-awesome-icon icon="chevron-left" />
          <span class="px-2">Back</span>
        </p>
        <div class="flex flex-row mb-5 w-full">
          <div
            class="form__button text-center mr-2 w-6/12 flex flex-row items-center justify-center"
            @click="postCreateModalShow"
          >
            <font-awesome-icon icon="edit" /> <span class="pl-1">Add Post</span>
          </div>
          <div
            class="form__button text-center ml-2 w-6/12 flex flex-col"
            @click="editMode = !editMode"
          >
            Customize Site
          </div>
        </div>
      </div>
      <draggable
        v-model="posts"
        class="w-full"
        @change="postsReorder"
        handle=".drag"
      >
        <div
          class="page flex flex-row justify-between mb-2 handle"
          v-for="(item, index) in posts"
          :key="index"
        >
          <div class="flex flex-col page__drag justify-center drag">
            <font-awesome-icon icon="ellipsis-v" />
          </div>
          <div class="flex flex-col page__inner flex-grow justify-between">
            <div class="flex flex-col" v-if="page.type === 'instagram'">
              <img class="page__image mb-1" :src="item.image" />
              <p class="page__info">{{ item.caption }}</p>
              <p class="page__info">{{ item.link }}</p>
            </div>
            <div class="flex flex-col" v-if="page.type === 'links'">
              <p class="page__title">{{ item.title }}</p>
              <p class="page__info">{{ item.link }}</p>
            </div>
            <div class="flex flex-row items-end">
              <p class="page__button" @click="postEditModalShow(item)">Edit</p>
              <p class="page__button l--red" @click="postDeleteSubmit(item)">
                Delete
              </p>
            </div>
          </div>
        </div>
      </draggable>
    </div>

    <!-- Modal -->
    <ModalPost></ModalPost>
  </div>
</template>

<script>
import axios from "axios";
import defaultStyle from "../../schema/defaultStyle.js";

import draggable from "vuedraggable";
import Autocomplete from "@/components/Autocomplete.vue";

import ModalPost from "@/components/dashboard/ModalPost.vue";

Array.prototype.move = function (from, to) {
  this.splice(to, 0, this.splice(from, 1)[0]);
};

export default {
  name: "DashboardPage",
  components: {
    draggable,
    Autocomplete,
    ModalPost,
  },
  created: async function () {
    axios.defaults.headers.common["Authorization"] = localStorage.getItem(
      "jwtToken"
    );
    //Figure out params logic
    // this.params.page =
    //   this.$route.params.page === undefined
    //     ? this.propPage
    //     : this.$route.params.page;
    // this.params.site =
    //   this.$route.params.site === undefined
    //     ? this.propSite
    //     : this.$route.params.site;
    // this.params.hasPage = this.params.page !== undefined;

    // await this.siteGetData();
  },
  data: function () {
    return {
      form: {
        postCreate: {
          title: "",
          image: "",
          caption: "",
          hashtags: "",
          textarea: "",
          link: "",
          type: "",
        },
        postEdit: {
          _id: "",
          title: "",
          image: "",
          caption: "",
          hashtags: "",
          textarea: "",
          link: "",
          type: "",
        },
      },
      params: {
        page: "",
        site: "",
        hasPage: false,
      },
    };
  },
  computed: {
    editMode: {
      get() {
        return this.$store.getters["editMode"];
      },
      set(value) {
        this.$store.commit("editMode", value);
      },
    },
    site: function () {
      return this.$store.getters["site"].site;
    },
    page: function () {
      return this.$store.getters["site"].page;
    },
    posts: function () {
      return this.$store.getters["site"].posts;
    },
    pages: {
      get() {
        return this.$store.getters["site"].pages;
      },
      set(value) {
        this.$store.commit("dashboard", {
          type: "pages",
          pages: value,
        });
      },
    },
    navigation: {
      get() {
        return this.$store.getters["navigation"];
      },
      set() {},
    },
    pagesOrdered: {
      get() {
        if (this.pages.length > 0) {
          let pages = this.navigation.map((x) => {
            let result = this.pages.filter((s) => s._id === x)[0];
            return result;
          });
          return pages;
        }
        return [];
      },
      set(value) {
        this.pages = value;
      },
    },
    hasPage: {
      get() {
        return this.$store.getters["hasPage"];
      },
      set(value) {
        this.$store.commit("hasPage", value);
      },
    },
  },
  methods: {
    siteBack: async function () {
      this.$router.push(`/dashboard/${this.site.slug}`);
      this.$store.commit("hasPage", false);
      let params = {
        page: "",
        site: "",
        hasPage: false,
      };
      params.site = this.site.slug;
      params.hasPage = false;

      this.$store.dispatch("siteGetData", {
        params: params,
      });
      // await this.siteGetData();
    },
    postsReorder: async function (ev) {
      console.log(ev);
      let posts = this.posts;
      let move = ev.moved;
      let from = move.newIndex < move.oldIndex ? move.newIndex : move.oldIndex;
      let to = move.newIndex < move.oldIndex ? move.oldIndex : move.newIndex;
      let fromTop = move.newIndex > move.oldIndex ? true : false;
      console.log(fromTop);
      console.log(from, to);

      let arrayCluster = posts.slice(from, to + 1);
      console.log(arrayCluster.map((x) => x.title));

      let originalCluster = arrayCluster.slice();
      if (fromTop) {
        originalCluster.pop();
        originalCluster.unshift(arrayCluster[arrayCluster.length - 1]);
      } else {
        originalCluster.shift();
        originalCluster.push(arrayCluster[0]);
      }

      console.log(originalCluster.map((x) => x.title));

      //Redestribute
      let reorderedCluster = arrayCluster.map((x, i) => {
        return {
          _id: x._id,
          title: x.title,
          order: originalCluster[i].order,
        };
      });
      console.log(reorderedCluster);

      await axios.post(process.env.VUE_APP_API + `/api/post/reorder`, {
        page: this.page._id,
        reorderedCluster,
      });

      await this.siteGetData();
    },
    siteGetData: async function () {
      let params = {
        page: "",
        site: "",
        hasPage: false,
      };
      params.page = this.$route.params.page;
      params.site = this.$route.params.site;
      params.hasPage = params.page !== undefined;

      console.log("Open page", params);

      this.$store.dispatch("siteGetData", {
        params: params,
      });
    },
    siteVisit: async function () {
      this.$router.push(`/${this.site.slug}`);
    },
    postCreateModalShow: async function () {
      this.$store.commit("modal", {
        type: "create",
        pageType: this.page.type,
        pageId: this.page._id,
        mode: "create",
      });
      this.$modal.show("post-create");
    },
    postCreateSubmit: async function () {
      let form = this.form.postCreate;
      let page = this.page;

      await axios.post(process.env.VUE_APP_API + `/api/post/create`, {
        _id: page._id,
        post: {
          ...form,
        },
      });

      this.$notify({
        group: "popups",
        title: "Post Created",
        text: "Awesome!",
      });

      form.title = "";
      form.image = "";
      form.caption = "";
      form.hashtags = "";
      form.textarea = "";
      form.link = "";
      form.type = "";

      await this.siteGetData();
      this.$modal.hide("post-create");
    },
    postEditModalShow: async function (post) {
      this.$store.commit("modal", {
        type: "edit",
        pageType: this.page.type,
        pageId: this.page._id,
        form: {
          ...post,
        },
        mode: "edit",
      });

      console.log("hello");

      this.$modal.show("post-create");
      return;

      console.log(post);
      let form = this.form.postEdit;
      form._id = post._id;
      form.title = post.title;
      form.image = post.image;
      form.caption = post.caption;
      form.hashtags = post.hashtags;
      form.textarea = post.textarea;
      form.link = post.link;
      form.type = post.type;
      this.$modal.show("post-edit");
    },
    postEditSubmit: async function () {
      let form = this.form.postEdit;
      let page = this.page;

      console.log(this.pages, form);

      await axios.post(process.env.VUE_APP_API + `/api/post/edit`, {
        page: page._id,
        _id: form._id,
        title: form.title,
        image: form.image,
        caption: form.caption,
        hashtags: form.hashtags,
        textarea: form.textarea,
        link: form.link,
      });

      this.$notify({
        group: "popups",
        title: "Post Edited",
        text: "Awesome!",
      });

      form._id = "";
      form.title = "";
      form.image = "";
      form.caption = "";
      form.hashtags = "";
      form.textarea = "";
      form.link = "";

      await this.siteGetData();
      this.$modal.hide("post-edit");
    },
    postDeleteSubmit: async function (post) {
      await axios.post(process.env.VUE_APP_API + `/api/post/delete`, {
        page: this.page._id,
        _id: post._id,
      });

      this.$notify({
        group: "popups",
        title: "Post Deleted",
        text: "Awesome!",
      });

      await this.siteGetData();
    },
    logout: function () {
      localStorage.removeItem("jwtToken");
      localStorage.removeItem("usergroup");
      this.$router.push("/");
      this.$notify({
        group: "popups",
        title: "Logout Successful",
        text: "Thank you for using SocialSite",
      });
    },
  },
};
</script>
