<style scoped lang="scss">
@use '@/style/style.scss';

.bg {
  padding-top: 10px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.site__name {
  font-size: 24 x;
  font-weight: 600;
  color: #222;
}
.site__link {
  font-size: 14px;
  color: #666;
}

.modal__title {
  font-weight: 600;
  color: #222;
  font-size: 20px;
  margin-bottom: 5px;
}

.toolbar__button {
  background: #888;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: 5px;
  border-bottom: 2px solid #666;
}
</style>

<template>
  <div class="bg flex flex-col items-center h-full overflow-y-scroll">
    <div class="wrapper flex flex-col justify-center items-center">
      <div class="flex flex-row mb-5 w-full">
        <div
          class="form__button text-center mr-2 w-6/12 flex flex-row items-center justify-center"
          @click="pageCreateModalShow('instagram')"
        >
          <font-awesome-icon icon="edit" /> <span class="pl-1">Add Page</span>
        </div>
        <div
          class="form__button text-center ml-2 w-6/12 flex flex-col"
          @click="editMode = !editMode"
        >
          Customize Site
        </div>
      </div>

      <draggable
        v-model="pagesOrdered"
        class="w-full"
        @change="siteNavigationReorder"
        handle=".drag"
      >
        <div
          class="page flex flex-row justify-between mb-2 handle"
          v-for="(item, index) in pagesOrdered"
          :key="index"
        >
          <div class="flex flex-col page__drag justify-center drag">
            <font-awesome-icon icon="ellipsis-v" />
          </div>
          <div class="flex flex-col page__inner flex-grow justify-between">
            <div class="flex flex-col mb-2">
              <div class="flex flex-row items-center justify-between">
                <p class="page__title">{{ item.name }}</p>
                <font-awesome-icon
                  icon="home"
                  v-if="site.home === item._id"
                  class="page__home"
                />
              </div>
              <p class="page__info">@{{ item.social.handle }}</p>
              <p class="page__info" v-if="item.type === 'instagram'">
                {{
                  item.social.filter === "" ? "No Filter" : item.social.filter
                }}
              </p>
            </div>

            <div class="flex flex-row items-start">
              <p class="page__button" @click="managePosts(item)">
                Manage Posts
              </p>
              <p class="page__button" @click="setAsHome(item)">Set as Home</p>
              <p class="page__button" @click="pageEditModalShow(item)">Edit</p>
              <p class="page__button l--red" @click="pageDeleteSubmit(item)">
                Delete
              </p>
            </div>
          </div>
        </div>
      </draggable>
    </div>

    <ModalPage></ModalPage>
  </div>
</template>

<script>
import axios from "axios";
import defaultStyle from "../../schema/defaultStyle.js";

import draggable from "vuedraggable";
import Autocomplete from "@/components/Autocomplete.vue";

import ModalPage from "@/components/dashboard/ModalPage.vue";

Array.prototype.move = function (from, to) {
  this.splice(to, 0, this.splice(from, 1)[0]);
};

export default {
  name: "Site",
  components: {
    draggable,
    Autocomplete,
    ModalPage,
  },
  created: async function () {
    // axios.defaults.headers.common["Authorization"] = localStorage.getItem(
    //   "jwtToken"
    // );
    // await this.siteGetData();
  },
  data: function () {
    return {
      // site: {},
      // pages: [],
      form: {
        pageCreate: {
          name: "",
          handle: "",
          filter: "",
          type: "",
          title: "",
          link: "",
        },
        pageEdit: {
          _id: "",
          name: "",
          handle: "",
          filter: "",
          type: "",
        },
      },
    };
  },
  computed: {
    editMode: {
      get() {
        return this.$store.getters["editMode"];
      },
      set(value) {
        this.$store.commit("editMode", value);
      },
    },
    site: function () {
      return this.$store.getters["site"].site;
    },
    pages: {
      get() {
        return this.$store.getters["site"].pages;
      },
      set(value) {
        this.$store.commit("dashboard", {
          type: "pages",
          pages: value,
        });
      },
    },
    navigation: {
      get() {
        return this.$store.getters["navigation"];
      },
      set() {},
    },
    pagesOrdered: {
      get() {
        if (this.pages.length > 0) {
          let pages = this.navigation.map((x) => {
            let result = this.pages.filter((s) => s._id === x)[0];
            return result;
          });
          console.log("order change", this.navigation, pages);
          return pages;
        }
        return [];
      },
      set(value) {
        this.pages = value;
      },
    },
    hasPage: {
      get() {
        return this.$store.getters["hasPage"];
      },
      set(value) {
        this.$store.commit("hasPage", value);
      },
    },
  },
  methods: {
    siteGetData: async function () {
      let params = {
        page: "",
        site: "",
        hasPage: false,
      };
      params.page = this.$route.params.page;
      params.site = this.$route.params.site;
      params.hasPage = params.page !== undefined;

      this.$store.dispatch("siteGetData", {
        params: params,
      });
    },
    siteNavigationReorder: async function () {
      let navigation = this.pages.map((x) => x._id);
      // this.site.navigation = navigation;
      this.$store.commit("dashboard", {
        type: "navigation",
        navigation: navigation,
      });

      // return
      await axios.post(
        process.env.VUE_APP_API + `/api/site/update/navigation`,
        {
          _id: this.site._id,
          navigation: navigation,
        }
      );
    },
    siteVisit: async function () {
      this.$router.push(`/${this.site.slug}`);
    },
    pageCreateModalShow: async function (type) {
      this.$store.commit("modal", {
        type: "create",
        pageType: "all",
        pageId: "",
        mode: "create",
      });
      this.$modal.show("page-create");
    },
    pageEditModalShow: async function (page) {
      console.log(page);
      this.$store.commit("modal", {
        type: "edit",
        pageType: page.type,
        pageId: page._id,
        form: {
          ...page,
        },
        mode: "edit",
      });

      console.log("hello");

      this.$modal.show("page-create");
      return;
    },
    pageDeleteSubmit: async function (page) {
      await axios.post(process.env.VUE_APP_API + `/api/page/delete`, {
        _id: page._id,
      });

      this.$notify({
        group: "popups",
        title: "Page Deleted",
        text: "Awesome!",
      });

      await this.siteGetData();
    },
    logout: function () {
      localStorage.removeItem("jwtToken");
      localStorage.removeItem("usergroup");
      this.$router.push("/");
      this.$notify({
        group: "popups",
        title: "Logout Successful",
        text: "Thank you for using SocialSite",
      });
    },
    managePosts: async function (page) {
      let params = {
        page: "",
        site: "",
        hasPage: false,
      };
      params.page = page.slug;
      params.site = this.site.slug;
      params.hasPage = true;

      console.log(params);

      this.$store.dispatch("siteGetData", {
        params: params,
      });

      this.$router.push(`/dashboard/${this.site.slug}/${page.slug}`);
      this.$store.commit("hasPage", true);
      // await this.siteGetData();
    },
    setAsHome: async function (page) {
      let site = this.site;
      await axios.post(process.env.VUE_APP_API + `/api/site/set/home`, {
        site: site._id,
        page: page._id,
      });

      this.$notify({
        group: "popups",
        title: "Page set as Home",
        text: "Awesome!",
      });

      await this.siteGetData();
    },
  },
};
</script>
