<style scoped lang="scss">
@use '@/style/style.scss';

.editor__panel--inner {
  user-select: none;
  height: 100%;
}
.editor__back {
  background: #888;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}
.editor__label {
  background: rgb(209, 208, 208);
  padding: 5px 15px;
  font-size: 14px;
}
.editor__sublabel {
  background: rgb(245, 245, 245);
  padding: 5px 15px;
  font-size: 14px;
}
.editor__tab--name {
  font-weight: 600;
  font-size: 16px;
}
</style>

<template>
  <div class="flex flex-col editor__panel--inner overflow-y-scroll w-full">
    <div class="flex flex-col w-full justify-start px-4 py-3" v-if="tab === ''">
      <div class="px-1 flex flex-col items-start mb-2">
        <p class="editor__back flex flex-row items-center" @click="exitEditor">
          <font-awesome-icon icon="chevron-left" />
          <span class="px-2">Back</span>
        </p>
      </div>
      <div class="flex flex-row flex-wrap">
        <div
          class="w-6/12 p-1"
          v-for="(schema, schemaIn) in schemas"
          :key="schemaIn"
        >
          <div
            class="form__button text-center"
            @click="tabChoose(schema.label)"
          >
            {{ schema.label }}
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full" v-if="tab !== ''">
      <div class="flex flex-row px-4 py-2 items-center justify-between">
        <p class="editor__tab--name">{{ tab }}</p>
        <p class="editor__back flex flex-row items-center" @click="tabBack">
          <font-awesome-icon icon="chevron-left" />
          <span class="px-2">Back</span>
        </p>
      </div>
      <div
        class="h-full"
        v-for="(schema, index) in schemasSelected"
        :key="index"
      >
        <p class="font-bold editor__label mb-2">{{ schema.label }}</p>
        <EditorInputs
          section="configs"
          label="General Customization"
          :schemas="schema.configs"
          :myComponent="schema.component"
        ></EditorInputs>
        <div v-if="editorView === 'mobile'" class="flex flex-col">
          <EditorInputs
            section="mobile"
            label="Mobile Customization"
            :schemas="schema.mobile"
            :myComponent="schema.component"
          ></EditorInputs>
        </div>
        <div v-if="editorView === 'desktop'" class="flex flex-col">
          <EditorInputs
            section="desktop"
            label="Desktop Customization"
            :schemas="schema.desktop"
            :myComponent="schema.component"
          ></EditorInputs>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import defaultStyle from "../../schema/defaultStyle.js";
import { editor as editorSchemas } from "../../schema/styleSchema.js";

import EditorInputs from "@/components/editor/EditorInputs.vue";

console.log(editorSchemas);

export default {
  name: "EditorPanel",
  props: { site: String, device: String },
  components: {
    EditorInputs,
  },
  created: function () {},
  data: function () {
    return {
      tab: "",
      // schemas: editorSchemas,
      defaultStyle: defaultStyle,
    };
  },
  destroyed: function () {
    console.log("gone");

    let self = this;
    this.$store.dispatch("style", {
      site: this.site,
      style: this.componentStyle,
      notify: function () {
        self.$notify({
          group: "popups",
          title: "Design Saved",
          text: "Awesome!",
        });
      },
    });
  },
  computed: {
    page: function () {
      return this.$store.getters["site"].page;
    },
    editMode: {
      get() {
        return this.$store.getters["editMode"];
      },
      set(value) {
        this.$store.commit("editMode", value);
      },
    },
    componentStyle: {
      get() {
        return this.$store.getters["style"];
      },
      set(value) {
        this.$store.dispatch("style", {
          style: value,
          site: this.site,
        });
      },
    },
    schemas: function () {
      return editorSchemas.filter((x) => x.page.includes(this.page.type));
    },
    schemasSelected: function () {
      if (this.tab !== "") {
        let editor = editorSchemas.filter((x) => x.label === this.tab)[0];
        let schema = editor.members.map(
          (x) => this.defaultStyle.filter((s) => s.component === x)[0]
        );
        console.log(schema);
        return schema;
        // return this.schemas.filter(x => x.component === this.tab);
      }
      console.log("testt", this.defaultStyle);
      return this.defaultStyle;
    },
    editorView: {
      get() {
        return this.$store.getters["editorView"];
      },
      set(value) {
        this.$store.commit("editorView", value);
      },
    },
  },
  methods: {
    siteGetData: async function () {
      let params = {
        page: "",
        site: "",
        hasPage: false,
      };
      params.page = this.$route.params.page;
      params.site = this.$route.params.site;
      params.hasPage = params.page !== undefined;

      this.$store.dispatch("siteGetData", {
        params: params,
      });
    },
    exitEditor: async function () {
      this.$store.dispatch("style", {
        site: this.site,
        style: this.componentStyle,
        save: true,
      });
      // await this.siteGetData();
      this.editMode = false;
    },
    newStyle: function (newStyle) {
      this.componentStyle = newStyle;
    },
    tabChoose: function (tab) {
      this.tab = tab;
    },
    tabBack: function (tab) {
      this.tab = "";
    },
  },
};
</script>
