<style scoped lang="scss">
.site {
  height: 100%;
}
.wrapper {
  border-radius: 10px;
}
@media (max-width: 812px) {
  .wrapper {
    border-radius: 0px;
  }
}
</style>

<template>
  <div class="flex flex-col flex-grow overflow-hidden h-full wrapper">
    <div
      :class="convertToClass('background')"
      :style="convertToStyle('background')"
    >
      <!-- Header -->
      <div :class="convertToClass('header')" :style="convertToStyle('header')">
        <p
          :class="convertToClass('header__title')"
          :style="convertToStyle('header__title')"
        >
          {{ site.name }}
        </p>
        <div
          :class="convertToClass('navigation')"
          :style="convertToStyle('navigation')"
        >
          <div
            :class="convertToClass('navigation__link')"
            :style="convertToStyle('navigation__link')"
            v-for="(item, index) in pagesOrdered"
            :key="index"
          >
            <p @click="navigate(item)">{{ item.name }}</p>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div :class="convertToClass('body')" :style="convertToStyle('body')">
        <!-- Card -->
        <div
          v-for="(item, index) in posts"
          :key="index"
          :class="convertToClass('card__spacing')"
          :style="convertToStyle('card__spacing')"
        >
          <div :class="convertToClass('card')" :style="convertToStyle('card')">
            <img
              :class="convertToClass('card__img')"
              :style="convertToStyle('card__img')"
              :src="item.image"
            />
            <p
              :class="convertToClass('card__caption')"
              :style="convertToStyle('card__caption')"
            >
              {{ item.caption }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "EditorView",
  props: {
    device: String,
  },
  components: {},
  data: function () {
    return {};
  },
  computed: {
    site: function () {
      return this.$store.getters["site"].site;
    },
    page: function () {
      return this.$store.getters["site"].page;
    },
    design: function () {
      return this.$store.getters["site"].design;
    },
    posts: function () {
      return this.$store.getters["site"].posts;
    },
    pages: function () {
      return this.$store.getters["site"].pages;
    },
    componentStyle: {
      get() {
        return this.$store.getters["style"];
      },
      set(value) {
        return this.$store.commit("style", {
          style: value,
        });
      },
    },
    pagesOrdered: function () {
      if (this.pages.length > 0) {
        let pages = this.site.navigation.map((x) => {
          let result = this.pages.filter((s) => s._id === x)[0];
          return result;
        });
        return pages;
      }
      return [];
    },
    editorView: {
      get() {
        return this.$store.getters["editorView"];
      },
      set(value) {
        this.$store.commit("editorView", value);
      },
    },
  },
  methods: {
    convertToClass: function (component) {
      let thisClass = this.componentStyle.filter(
        (x) => x.component === component
      )[0];

      let configs =
        this.editorView === "mobile"
          ? thisClass.configs.concat(thisClass.mobile)
          : thisClass.configs.concat(thisClass.desktop);

      let getClass = configs.filter((x) => x.type === "class");
      if (this.device === "mobile") {
        getClass = getClass.filter((x) => x.device !== "desktop");
      }
      let parsedClass = getClass.map((x) => x.value);
      let string = component + " " + parsedClass.join(" ");
      return string;
    },
    convertToStyle: function (component) {
      let thisStyle = this.componentStyle.filter(
        (x) => x.component === component
      )[0];

      let configs =
        this.editorView === "mobile"
          ? thisStyle.configs.concat(thisStyle.mobile)
          : thisStyle.configs.concat(thisStyle.desktop);

      let getStyle = configs.filter((x) => x.type === "style");
      if (this.device === "mobile") {
        getStyle = getStyle.filter((x) => x.device !== "desktop");
      }

      let parsedStyle = getStyle.map((x) => x.property + ":" + x.value);
      let string = parsedStyle.join(";") + ";";
      return string;
    },
    navigate: function (page) {
      console.log(page);
      this.$emit("navigate", page);
    },
  },
};
</script>
