<style scoped lang="scss">
.site {
  height: 100%;
}
.link:hover {
  background: var(--background-hover) !important;
}
.wrapper {
  border-radius: 10px;
}
@media (max-width: 812px) {
  .wrapper {
    border-radius: 0px;
  }
}
</style>

<template>
  <div class="flex flex-col flex-grow overflow-hidden h-full wrapper">
    <div
      :class="convertToClass('background')"
      :style="convertToStyle('background')"
    >
      <!-- Header -->
      <div :class="convertToClass('header')" :style="convertToStyle('header')">
        <img :src="site.logo" />
        <p
          :class="convertToClass('header__title')"
          :style="convertToStyle('header__title')"
        >
          {{ site.name }}
        </p>
        <p
          :class="convertToClass('header__description')"
          :style="convertToStyle('header__description')"
        >
          {{ site.description }}
        </p>
        <div
          :class="convertToClass('navigation')"
          :style="convertToStyle('navigation')"
        >
          <div
            :class="convertToClass('navigation__link')"
            :style="convertToStyle('navigation__link')"
            v-for="(item, index) in pagesOrdered"
            :key="index"
          >
            <p @click="navigate(item)">{{ item.name }}</p>
          </div>
        </div>
      </div>

      <!-- Body -->
      <div :class="convertToClass('body')" :style="convertToStyle('body')">
        <!-- Card -->
        <div
          :class="convertToClass('content')"
          :style="convertToStyle('content')"
          v-for="(item, index) in posts"
          :key="index"
        >
          <a
            :class="convertToClass('link')"
            :style="convertToStyle('link')"
            :href="item.link"
            v-if="item.type === 'link'"
            >{{ item.title }}</a
          >
          <div
            :class="convertToClass('paragraph')"
            :style="convertToStyle('paragraph')"
            v-if="item.type === 'paragraph'"
          >
            <a
              :class="convertToClass('paragraph__title')"
              :style="convertToStyle('paragraph__title')"
              :href="item.link"
              target="_blank"
            >
              {{ item.title }}
            </a>
            <img :src="item.image" v-if="item.image !== ''" />
            <p
              :class="convertToClass('paragraph__description')"
              :style="convertToStyle('paragraph__description')"
            >
              {{ item.caption }}
            </p>
            <p
              :class="convertToClass('paragraph__content')"
              :style="convertToStyle('paragraph__content')"
              v-html="item.textarea"
            ></p>
          </div>
          <div v-if="item.type === 'collapsible'">
            <p>{{ item.title }}</p>
            <p>{{ item.caption }}</p>
            <p>{{ item.textarea }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import defaultStyle from "../../schema/defaultStyle.js";

export default {
  name: "EditorLink",
  props: {
    device: String,
  },
  components: {},
  data: function () {
    return {};
  },
  computed: {
    site: function () {
      return this.$store.getters["site"].site;
    },
    page: function () {
      return this.$store.getters["site"].page;
    },
    design: function () {
      return this.$store.getters["site"].design;
    },
    posts: function () {
      console.log(this.$store.getters["site"]);
      return this.$store.getters["site"].posts;
    },
    pages: function () {
      return this.$store.getters["site"].pages;
    },
    componentStyle: {
      get() {
        return this.$store.getters["style"];
      },
      set(value) {
        return this.$store.commit("style", {
          style: value,
        });
      },
    },
    pagesOrdered: function () {
      if (this.pages.length > 0) {
        let pages = this.site.navigation.map((x) => {
          let result = this.pages.filter((s) => s._id === x)[0];
          return result;
        });
        return pages;
      }
      return [];
    },
    editorView: {
      get() {
        return this.$store.getters["editorView"];
      },
      set(value) {
        this.$store.commit("editorView", value);
      },
    },
  },
  methods: {
    convertToClass: function (component) {
      let thisClass = this.componentStyle.filter(
        (x) => x.component === component
      )[0];

      let configs =
        this.editorView === "mobile"
          ? thisClass.configs.concat(thisClass.mobile)
          : thisClass.configs.concat(thisClass.desktop);

      let getClass = configs.filter((x) => x.type === "class");
      if (this.device === "mobile") {
        getClass = getClass.filter((x) => x.device !== "desktop");
      }
      let parsedClass = getClass.map((x) => x.value);
      let string = component + " " + parsedClass.join(" ");
      return string;
    },
    convertToStyle: function (component) {
      let thisStyle = this.componentStyle.filter(
        (x) => x.component === component
      )[0];

      let configs =
        this.editorView === "mobile"
          ? thisStyle.configs.concat(thisStyle.mobile)
          : thisStyle.configs.concat(thisStyle.desktop);

      let getStyle = configs.filter((x) => x.type === "style");
      if (this.device === "mobile") {
        getStyle = getStyle.filter((x) => x.device !== "desktop");
      }
      let parsedStyle = getStyle.map((x) => x.property + ":" + x.value);
      let string = parsedStyle.join(";") + ";";
      return string;
    },
    navigate: function (page) {
      this.$emit("navigate", page);
    },
  },
};
</script>
