<style scoped lang="scss">
@use '@/style/style.scss';

.editor__back {
  background: #888;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}
.editor__label {
  background: rgb(209, 208, 208);
  padding: 5px 15px;
  font-size: 14px;
}
.editor__sublabel {
  background: rgb(245, 245, 245);
  padding: 5px 15px;
  font-size: 14px;
}
.editor__tab--name {
  font-weight: 600;
  font-size: 16px;
}
</style>

<template>
  <div class="flex flex-col" v-if="hasEditable">
    <p class="editor__sublabel mb-2">{{ label }}</p>
    <div v-for="(config, configIn) in schemas" :key="configIn">
      <InputColor
        class="px-4 py-1"
        :label="config.label"
        :componentStyle="componentStyle"
        :myComponent="myComponent"
        :myProperty="config.property"
        :section="section"
        @input="newStyle"
        v-if="config.input === 'color'"
      ></InputColor>
      <InputGradient
        class="px-4 py-1"
        :label="config.label"
        :componentStyle="componentStyle"
        :myComponent="myComponent"
        :myProperty="config.property"
        :section="section"
        @input="newStyle"
        v-if="config.input === 'gradient'"
      ></InputGradient>
      <InputSelect
        class="px-4 py-1"
        :label="config.label"
        :componentStyle="componentStyle"
        :myComponent="myComponent"
        :myProperty="config.property"
        :options="config.options"
        :type="config.type"
        :section="section"
        @input="newStyle"
        v-if="config.input === 'select'"
      ></InputSelect>
      <InputSlider
        class="px-4 py-1"
        :label="config.label"
        :componentStyle="componentStyle"
        :myComponent="myComponent"
        :myProperty="config.property"
        :unit="config.unit"
        :max="config.max"
        :section="section"
        @input="newStyle"
        v-if="config.input === 'slider'"
      ></InputSlider>
      <InputImage
        class="px-4 py-1"
        :label="config.label"
        :componentStyle="componentStyle"
        :myComponent="myComponent"
        :myProperty="config.property"
        :section="section"
        @input="newStyle"
        v-if="config.input === 'image'"
      ></InputImage>
      <InputFont
        class="px-4 py-1"
        :label="config.label"
        :componentStyle="componentStyle"
        :myComponent="myComponent"
        :myProperty="config.property"
        :section="section"
        @input="newStyle"
        v-if="config.input === 'font'"
      ></InputFont>
      <InputSpacing
        class="px-4 py-1"
        :label="config.label"
        :componentStyle="componentStyle"
        :myComponent="myComponent"
        :myProperty="config.property"
        :section="section"
        @input="newStyle"
        v-if="config.input === 'spacing'"
      ></InputSpacing>
    </div>
  </div>
</template>

<script>
import InputForm from "@/components/inputs/InputForm.vue";
import InputColor from "@/components/inputs/InputColor.vue";
import InputSelect from "@/components/inputs/InputSelect.vue";
import InputSlider from "@/components/inputs/InputSlider.vue";
import InputGradient from "@/components/inputs/InputGradient.vue";
import InputImage from "@/components/inputs/InputImage.vue";
import InputFont from "@/components/inputs/InputFont.vue";
import InputSpacing from "@/components/inputs/InputSpacing.vue";

export default {
  name: "EditorInput",
  props: {
    section: String,
    label: String,
    schemas: Array,
    myComponent: String,
  },
  components: {
    InputForm,
    InputColor,
    InputSelect,
    InputSlider,
    InputGradient,
    InputImage,
    InputFont,
    InputSpacing,
  },
  computed: {
    site: function () {
      return this.$store.getters["site"].site._id;
    },
    componentStyle: {
      get() {
        return this.$store.getters["style"];
      },
      set(value) {
        let self = this;

        this.$store.dispatch("style", {
          style: value,
          site: this.site,
          notify: function () {
            self.$notify({
              group: "popups",
              title: "Design Saved",
              text: "Awesome!",
            });
          },
        });
      },
    },
    hasEditable: function () {
      return this.schemas.filter((x) => x.input !== "none").length === 0
        ? false
        : true;
    },
  },
  methods: {
    newStyle: function (newStyle) {
      this.componentStyle = newStyle;
    },
  },
};
</script>
