<style scoped lang="scss"></style>

<template>
  <div class="mb-2">
    <p class="font-semibold text-sm">{{ label }}</p>
    <v-select v-model="address" :options="options"></v-select>
  </div>
</template>

<script>
import _ from "lodash";

import VSelect from "@alfsnd/vue-bootstrap-select";

export default {
  name: "InputSelect",
  props: {
    componentStyle: Array,
    myComponent: String,
    myProperty: String,
    label: String,
    options: Array,
    type: String,
    section: String
  },
  components: {
    VSelect
  },
  data: function() {
    return {};
  },
  computed: {
    address: {
      get() {
        let value = "";
        if (this.type === "style" || this.type === "class") {
          value = this.componentStyle
            .filter(x => x.component === this.myComponent)[0]
            [this.section].filter(x => x.property === this.myProperty)[0].value;
        } else if (this.type === "class") {
          value = this.componentStyle
            .filter(x => x.component === this.myComponent)[0]
            [this.section].filter(x => x.label === this.myProperty)[0].value;
        }

        return this.options.filter(x => x.value === value)[0];
      },
      set(option) {
        if (this.type === "style" || this.type === "class") {
          this.componentStyle
            .filter(x => x.component === this.myComponent)[0]
            [this.section].filter(
              x => x.property === this.myProperty
            )[0].value = option.value;
        } else if (this.type === "class") {
          this.componentStyle
            .filter(x => x.component === this.myComponent)[0]
            [this.section].filter(x => x.label === this.myProperty)[0].value =
            option.value;
        }

        this.$emit("input", this.componentStyle);
      }
    }
  }
};
</script>
