<style scoped lang="scss"></style>

<template>
  <div class="mb-2">
    <p class="font-semibold text-sm">{{ label }}</p>
    <font-picker
      :api-key="'AIzaSyB6TptOHIRQ1ZnTWhXij4whhWKmVI7rR4Q'"
      :options="options"
      :active-font="fontFamily"
      @change="myFunc"
    ></font-picker>
  </div>
</template>

<script>
import _ from "lodash";

import FontPicker from "font-picker-vue";

export default {
  name: "InputForm",
  props: {
    componentStyle: Array,
    myComponent: String,
    myProperty: String,
    label: String,
    section: String,
  },
  components: {
    FontPicker,
  },
  data: function () {
    return {
      options: {
        name: "test",
      },
      fontFamily: "Open Sans",
    };
  },
  computed: {
    address: {
      get() {
        return this.componentStyle
          .filter((x) => x.component === this.myComponent)[0]
          [this.section].filter((x) => x.property === this.myProperty)[0].value;
      },
      set(value) {
        this.componentStyle
          .filter((x) => x.component === this.myComponent)[0]
          [this.section].filter(
            (x) => x.property === this.myProperty
          )[0].value = value;
        this.$emit("input", this.componentStyle);
      },
    },
  },
  methods: {
    myFunc: function (test) {
      console.log(test);
    },
  },
};
</script>
