<style scoped lang="scss">
.preview {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: content-box;
  border-radius: 5px;
}
.button {
  color: #555;
  border: 1px solid #555;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
  &:hover {
    color: #222;
  }
}
</style>

<template>
  <div class="flex flex-col mb-2">
    <p class="font-semibold text-sm">{{ label }}</p>
    <div class="preview mb-2" :style="picture"></div>
    <div class="flex flex-row justify-center">
      <p class="button self-start mr-2" @click="uploadPicture()">
        Upload Image
      </p>
      <p class="button self-start" @click="removePicture()">Remove Image</p>
    </div>
    <form enctype="multipart/form-data" v-show="false">
      <input
        type="file"
        ref="uploadPicture"
        @change="onFileChanged($event)"
        name="image"
      />
    </form>
  </div>
</template>

<script>
import _ from "lodash";
import axios from "axios";

export default {
  name: "InputForm",
  props: {
    componentStyle: Array,
    myComponent: String,
    myProperty: String,
    label: String,
    section: String,
  },
  components: {},
  data: function () {
    return {
      upload: {},
    };
  },
  computed: {
    address: {
      get() {
        return this.componentStyle
          .filter((x) => x.component === this.myComponent)[0]
          [this.section].filter((x) => x.property === this.myProperty)[0].value;
      },
      set(value) {
        this.componentStyle
          .filter((x) => x.component === this.myComponent)[0]
          [this.section].filter(
            (x) => x.property === this.myProperty
          )[0].value = value;
        this.$emit("input", this.componentStyle);
      },
    },
    picture: function () {
      return `background-image: ${this.address}`;
    },
  },
  methods: {
    removePicture(newValue) {
      this.address = "none";
    },
    uploadPicture() {
      this.$refs.uploadPicture.click();
    },
    async onFileChanged(event) {
      let file = event.target.files[0];
      if (
        (file.type === "image/png" ||
          file.type === "image/jpg" ||
          file.type === "image/jpeg") &&
        file.size / 1000 / 1000 <= 10
      ) {
        // Loading;

        //Upload
        const formData = new FormData();
        formData.append("image", file, file.name);
        let result = await axios.post(
          process.env.VUE_APP_API + "/api/image/upload",
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          }
        );

        this.address = `url(${result.data.link})`;
      }
    },
  },
};
</script>
