<style scoped lang="scss">
.slide__input {
  width: 40px;
  padding: 0 2px;
  text-align: right;
  margin-right: 2px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
}
</style>

<template>
  <div class="mb-2">
    <p>{{ label }}</p>
    <div class="flex flex-row justify-between font-semibold text-sm">
      <span>Top-Bottom</span>
      <div class="flex flex-row">
        <input class="slide__input" v-model="address" />
        <span class="font-normal">{{ `${unit}` }}</span>
      </div>
    </div>
    <vue-slider v-model="address" :max="max" />

    <div class="flex flex-row justify-between font-semibold text-sm">
      <span>Left-Right</span>
      <div class="flex flex-row">
        <input class="slide__input" v-model="address" />
        <span class="font-normal">{{ `${unit}` }}</span>
      </div>
    </div>
    <vue-slider v-model="address" :max="max" />
  </div>
</template>

<script>
import _ from "lodash";

import "vue-slider-component/theme/antd.css";
import VueSlider from "vue-slider-component";

export default {
  name: "Input",
  props: {
    componentStyle: Array,
    myComponent: String,
    myProperty: String,
    label: String,
    unit: String,
    max: Number,
    section: String,
  },
  components: {
    VueSlider,
  },
  data: function () {
    return {};
  },
  computed: {
    address: {
      get() {
        if (this.unit === "") {
          return this.componentStyle
            .filter((x) => x.component === this.myComponent)[0]
            [this.section].filter((x) => x.property === this.myProperty)[0]
            .value.replace(this.unit, "");
        } else {
          return this.componentStyle
            .filter((x) => x.component === this.myComponent)[0]
            [this.section].filter((x) => x.property === this.myProperty)[0]
            .value.replace(this.unit, "");
        }
      },
      set(value) {
        this.componentStyle
          .filter((x) => x.component === this.myComponent)[0]
          [this.section].filter(
            (x) => x.property === this.myProperty
          )[0].value = value + this.unit;
        this.$emit("input", this.componentStyle);
      },
    },
    topBottom: {
      get() {
        if (this.unit === "") {
          return this.componentStyle
            .filter((x) => x.component === this.myComponent)[0]
            [this.section].filter((x) => x.property === this.myProperty)[0]
            .value.replace(this.unit, "");
        } else {
          return this.componentStyle
            .filter((x) => x.component === this.myComponent)[0]
            [this.section].filter((x) => x.property === this.myProperty)[0]
            .value.replace(this.unit, "");
        }
      },
      set(value) {
        this.componentStyle
          .filter((x) => x.component === this.myComponent)[0]
          [this.section].filter(
            (x) => x.property === this.myProperty
          )[0].value = value + this.unit;
        this.$emit("input", this.componentStyle);
      },
    },
  },
};
</script>
