<style scoped lang="scss"></style>

<template>
  <div class="mb-2">
    <p class="font-semibold text-sm">{{ label }}</p>
    <input v-model="address" />
  </div>
</template>

<script>
import _ from "lodash";

export default {
  name: "InputForm",
  props: {
    componentStyle: Array,
    myComponent: String,
    myProperty: String,
    label: String,
    options: Array,
    unit: String,
    max: Number,
    section: String
  },
  components: {},
  data: function() {
    return {};
  },
  computed: {
    address: {
      get() {
        return this.componentStyle
          .filter(x => x.component === this.myComponent)[0]
          [this.section].filter(x => x.property === this.myProperty)[0].value;
      },
      set(value) {
        this.componentStyle
          .filter(x => x.component === this.myComponent)[0]
          [this.section].filter(
            x => x.property === this.myProperty
          )[0].value = value;
        this.$emit("input", this.componentStyle);
      }
    }
  }
};
</script>
