<style scoped lang="scss">
.picker__button {
  height: 15px;
  width: 15px;
  background: #555;
  margin-left: 5px;
  border: 0.5px solid #555;
  border-radius: 3px;
  cursor: pointer;
}
.picker {
  position: relative;
}
.picker__component {
  position: absolute;
  top: 25px;
  z-index: 100;
  margin-top: 5px;
}
.picker__close {
  background-color: #ddd;
  height: 15px;
  width: 15px;
  font-size: 10px;
  text-align: center;
  color: #888;
  border: 0.5px solid #aaa;
  border-radius: 3px;
  margin-left: 5px;
  font-weight: 300;
  cursor: pointer;
}
</style>

<template>
  <div class="mb-2 picker" v-on-clickaway="pickerClick">
    <div class="flex flex-row items-center justify-between">
      <div class="flex flex-row items-center">
        <p class="font-semibold text-sm">{{ label }}</p>
        <div
          @click="openPicker"
          class="picker__button"
          :style="`background:${this.address}`"
        ></div>
      </div>
      <p class="picker__close" v-if="showPicker" @click="showPicker = false">
        X
      </p>
    </div>
    <!-- <p @click="showPicker = !showPicker">{{ showPicker ? "Hide Picker" : "Show Picker" }}</p> -->
    <div class="picker__component">
      <sketch-picker v-model="address" v-if="showPicker" />
    </div>
  </div>
</template>

<script>
import _ from "lodash";

import { Sketch } from "vue-color";
import { directive as onClickaway } from "vue-clickaway";

export default {
  name: "Input",
  props: {
    componentStyle: Array,
    myComponent: String,
    myProperty: String,
    label: String,
    section: String
  },
  components: {
    "sketch-picker": Sketch
  },
  data: function() {
    return {
      showPicker: false
    };
  },
  computed: {
    address: {
      get() {
        return this.componentStyle
          .filter(x => x.component === this.myComponent)[0]
          [this.section].filter(x => x.property === this.myProperty)[0].value;
      },
      set(value) {
        this.componentStyle
          .filter(x => x.component === this.myComponent)[0]
          [this.section].filter(
            x => x.property === this.myProperty
          )[0].value = `rgba(${value.rgba.r}, ${value.rgba.g}, ${value.rgba.b}, ${value.rgba.a})`;
        this.$emit("input", this.componentStyle);
      }
    }
  },
  methods: {
    openPicker: function() {
      this.showPicker = !this.showPicker;
    },
    pickerClick: function() {
      if (this.showPicker) {
        this.showPicker = false;
      }
    }
  },
  directives: {
    onClickaway: onClickaway
  }
};
</script>
