<style scoped lang="scss">
.picker__button {
  height: 15px;
  width: 15px;
  background: #555;
  margin-left: 5px;
  border: 0.5px solid #555;
  border-radius: 3px;
  cursor: pointer;
}
.picker {
  position: relative;
}
.picker__component {
  position: absolute;
  top: 50px;
  z-index: 100;
  margin-top: 5px;
  background: #fff;
}
.picker__close {
  background-color: #ddd;
  height: 15px;
  // width: 15px;
  padding: 0 1px;
  font-size: 10px;
  text-align: center;
  color: #888;
  border: 0.5px solid #aaa;
  border-radius: 3px;
  margin-left: 5px;
  font-weight: 300;
  cursor: pointer;
}
.picker__select {
  width: 100px !important;
}

.preview {
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: content-box;
  border-radius: 5px;
  cursor: pointer;
}
.button {
  color: #555;
  border: 1px solid #555;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
  &:hover {
    color: #222;
  }
}
</style>

<template>
  <div class="mb-2 picker" v-on-clickaway="pickerClick">
    <p class="font-semibold text-sm">{{ label }}</p>
    <div class="flex flex-row items-center justify-between">
      <div class="flex flex-row items-center">
        <v-select
          v-model="type"
          :options="options"
          class="picker__select"
        ></v-select>
        <div
          v-if="['color', 'gradient'].includes(type.value)"
          @click="openPicker"
          class="picker__button"
          :style="`background:${this.address.value}`"
        ></div>
      </div>
      <p class="picker__close" v-if="showPicker" @click="showPicker = false">
        Close
      </p>
    </div>
    <div class="picker__component flex flex-col items-center" v-if="showPicker">
      <ColorPicker
        v-if="type.value === 'color'"
        :color="color"
        :onStartChange="(color) => onChange(color, 'start', 'color')"
        :onChange="(color) => onChange(color, 'change', 'color')"
        :onEndChange="(color) => onChange(color, 'end', 'color')"
      />
      <ColorPicker
        v-if="type.value === 'gradient'"
        :gradient="gradient"
        :isGradient="true"
        :onStartChange="(color) => onChange(color, 'start', 'gradient')"
        :onChange="(color) => onChange(color, 'change', 'gradient')"
        :onEndChange="(color) => onChange(color, 'end', 'gradient')"
      />
    </div>
    <div class="flex flex-col pt-2" v-if="type.value === 'image'">
      <div class="preview mb-2" :style="picture" @click="uploadPicture()"></div>
      <div class="flex flex-row justify-center">
        <p class="button self-start mr-2" @click="uploadPicture()">
          Upload Image
        </p>
      </div>
      <form enctype="multipart/form-data" v-show="false">
        <input
          type="file"
          ref="uploadPicture"
          @change="onFileChanged($event)"
          name="image"
        />
      </form>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import axios from "axios";

import { directive as onClickaway } from "vue-clickaway";
import { ColorPicker } from "vue-color-gradient-picker";
import VSelect from "@alfsnd/vue-bootstrap-select";

export default {
  name: "Input",
  props: {
    componentStyle: Array,
    myComponent: String,
    myProperty: String,
    label: String,
    section: String,
  },
  components: {
    ColorPicker,
    VSelect,
  },
  data: function () {
    return {
      showPicker: false,
      options: [
        { value: "color", text: "Color" },
        { value: "gradient", text: "Gradient" },
        { value: "image", text: "Image" },
        { value: "transparent", text: "Transparent" },
      ],
    };
  },
  computed: {
    address: {
      get() {
        return this.componentStyle
          .filter((x) => x.component === this.myComponent)[0]
          [this.section].filter((x) => x.property === this.myProperty)[0];
      },
      set(value) {
        this.componentStyle
          .filter((x) => x.component === this.myComponent)[0]
          [this.section].filter((x) => x.property === this.myProperty)[0];
      },
    },
    gradient: function () {
      return this.address.meta.gradient;
    },
    color: function () {
      return this.address.meta.color;
    },
    type: {
      get() {
        let metaType = this.options.filter(
          (x) => x.value === this.address.meta.type
        )[0];
        return metaType;
      },
      set(option) {
        this.address.meta.type = option.value;
        if (option.value === "gradient") {
          this.address.value = this.address.meta.gradient.style + ")";
          console.log(this.address.value);
        }
        if (option.value === "color") {
          this.address.value = this.address.meta.color.style;
        }
        if (option.value === "transparent") {
          this.address.value = "rgba(0,0,0,0)";
          this.showPicker = false;
        }
        if (option.value === "image") {
          this.address.value = this.address.meta.image.style;
        }
        this.$emit("input", this.componentStyle);
      },
    },
    picture: function () {
      return `background-image: ${this.address.meta.image.style}`;
    },
  },
  methods: {
    onChange(attrs, name, type) {
      console.log(name);
      if (name === "change" || name === "end") {
        if (type === "gradient") {
          this.address.meta.gradient = attrs;
          this.address.value = attrs.style + ")";
        }
        if (type === "color") {
          this.address.meta.color = attrs;
          this.address.value = attrs.style;
        }
        console.log(attrs.style, attrs);
        this.$emit("input", this.componentStyle);
      }
    },
    updateComponent(property, value) {
      this.componentStyle
        .filter((x) => x.component === this.myComponent)[0]
        [this.section].filter((x) => x.property === this.myProperty)[0][
        property
      ] = value;
      this.$emit("input", this.componentStyle);
    },
    openPicker: function () {
      this.showPicker = !this.showPicker;
    },
    pickerClick: function () {
      if (this.showPicker) {
        this.showPicker = false;
      }
    },
    uploadPicture() {
      this.$refs.uploadPicture.click();
    },
    async onFileChanged(event) {
      let file = event.target.files[0];
      if (
        (file.type === "image/png" ||
          file.type === "image/jpg" ||
          file.type === "image/jpeg") &&
        file.size / 1000 / 1000 <= 10
      ) {
        // Loading;

        //Upload
        const formData = new FormData();
        formData.append("image", file, file.name);
        let result = await axios.post(
          process.env.VUE_APP_API + "/api/image/upload",
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          }
        );

        let url = result.data.link;
        let style = `url(${result.data.link})`;
        this.address.meta.image = {
          url: url,
          style: style,
        };
        this.address.value = style;
        this.$emit("input", this.componentStyle);
      }
    },
  },
  directives: {
    onClickaway: onClickaway,
  },
};
</script>
