<style scoped lang="scss"></style>

<template>
  <div>
    <p class="mb-4 font-bold">Card Image</p>
    <InputSlider
      :label="'Border Radius'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'border-radius'"
      :unit="'px'"
      :max="50"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
    <InputSlider
      :label="'Width'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'width'"
      :unit="'%'"
      :max="100"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
  </div>
</template>

<script>
import InputForm from "@/components/inputs/InputForm.vue";
import InputColor from "@/components/inputs/InputColor.vue";
import InputSelect from "@/components/inputs/InputSelect.vue";
import InputSlider from "@/components/inputs/InputSlider.vue";

export default {
  name: "Input",
  props: {
    site: String
  },
  components: {
    InputForm,
    InputColor,
    InputSelect,
    InputSlider
  },
  data: function() {
    return {
      myComponent: "card__img"
    };
  },
  computed: {
    componentStyle: {
      get() {
        return this.$store.getters["style"];
      },
      set(value) {
        return this.$store.dispatch("style", {
          style: value,
          site: this.site
        });
      }
    }
  }
};
</script>
