<style scoped lang="scss"></style>

<template>
  <div>
    <p class="mb-4 font-bold">Navigation</p>
    <InputColor
      :label="'Background Color'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'background-color'"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputColor>
    <InputSelect
      :label="'Text Align'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'alignment'"
      :options="[
        { value: 'justify-center', text: 'Center' },
        { value: 'justify-start', text: 'Left' },
        { value: 'justify-end', text: 'Right' }
      ]"
      :type="'class'"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSelect>
    <InputSlider
      :label="'Width'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'width'"
      :unit="'%'"
      :max="100"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
    <InputSlider
      :label="'Border Radius'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'border-radius'"
      :unit="'px'"
      :max="50"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
    <InputSlider
      :label="'Padding Top'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'padding-top'"
      :unit="'px'"
      :max="500"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
    <InputSlider
      :label="'Padding Bottom'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'padding-bottom'"
      :unit="'px'"
      :max="500"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
    <InputSlider
      :label="'Padding Right'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'padding-right'"
      :unit="'px'"
      :max="500"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
    <InputSlider
      :label="'Padding Left'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'padding-left'"
      :unit="'px'"
      :max="500"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
  </div>
</template>

<script>
import InputForm from "@/components/inputs/InputForm.vue";
import InputColor from "@/components/inputs/InputColor.vue";
import InputSelect from "@/components/inputs/InputSelect.vue";
import InputSlider from "@/components/inputs/InputSlider.vue";

export default {
  name: "Input",
  props: {
    site: String
  },
  components: {
    InputForm,
    InputColor,
    InputSelect,
    InputSlider
  },
  data: function() {
    return {
      myComponent: "navigation"
    };
  },
  computed: {
    componentStyle: {
      get() {
        return this.$store.getters["style"];
      },
      set(value) {
        return this.$store.dispatch("style", {
          style: value,
          site: this.site
        });
      }
    }
  }
};
</script>
