<style scoped lang="scss"></style>

<template>
  <div>
    <p class="mb-4 font-bold">Navigation Title</p>
    <InputColor
      :label="'Color'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'color'"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputColor>
    <InputSlider
      :label="'Font Size'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'font-size'"
      :unit="'px'"
      :max="500"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
    <InputSlider
      :label="'Font Weight'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'font-weight'"
      :unit="''"
      :max="800"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>    
    <InputSlider
      :label="'Padding Top'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'padding-top'"
      :unit="'px'"
      :max="500"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
    <InputSlider
      :label="'Padding Bottom'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'padding-bottom'"
      :unit="'px'"
      :max="500"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
    <InputSlider
      :label="'Padding Right'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'padding-right'"
      :unit="'px'"
      :max="500"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
    <InputSlider
      :label="'Padding Left'"
      :componentStyle="componentStyle"
      :myComponent="myComponent"
      :myProperty="'padding-left'"
      :unit="'px'"
      :max="500"
      @input="
        newStyle => {
          componentStyle = newStyle;
        }
      "
    ></InputSlider>
  </div>
</template>

<script>
import InputForm from "@/components/inputs/InputForm.vue";
import InputColor from "@/components/inputs/InputColor.vue";
import InputSelect from "@/components/inputs/InputSelect.vue";
import InputSlider from "@/components/inputs/InputSlider.vue";

export default {
  name: "Input",
  props: {
    site: String
  },
  components: {
    InputForm,
    InputColor,
    InputSelect,
    InputSlider
  },
  data: function() {
    return {
      myComponent: "navigation__link"
    };
  },
  computed: {
    componentStyle: {
      get() {
        return this.$store.getters["style"];
      },
      set(value) {
        return this.$store.dispatch("style", {
          style: value,
          site: this.site
        });
      }
    }
  }
};
</script>
