<style scoped lang="scss">
@use '@/style/style.scss';

.bg {
  padding: 10px 10px 20px 10px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  padding-top: 40px;
}

.toolbar__button {
  background: #888;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: 5px;
  border-bottom: 2px solid #666;
}
</style>

<template>
  <div class="flex flex-col items-center min-h-screen">
    <Header></Header>
    <div class="wrapper flex flex-col h-full justify-center items-center p-4">
      <!-- <div class="flex flex-row justify-end w-full mb-5">
        <p class="toolbar__button" @click="logout">Logout</p>
      </div> -->

      <div class="flex flex-col w-full" v-if="!loading.create">
        <!-- <p class="pb-2 font-bold text-lg mb-5 self-center">
          Create a Website in one click
        </p>
        <input
          class="form__input mb-2"
          placeholder="Website Name"
          v-model="form.siteCreate.name"
        />
        <div class="flex flex-row items-center">
          <p class="text-lg font-bold pr-1">swiftly.id/</p>
          <input
            class="form__input mb-2"
            placeholder="Slug"
            v-model="form.siteCreate.slug"
          />
        </div>
        <input
          class="form__input mb-2"
          placeholder="Instagram Handle (Without @)"
          v-model="form.siteCreate.handle"
        /> -->
        <!-- <Autocomplete
          class="mb-5"
          @input="account => form.siteCreate.handle = account"
          ref="autocomplete"
        ></Autocomplete>-->
        <!-- <p
          v-if="enableCreate"
          class="form__button text-center mb-10"
          @click="sitesCreateSubmit"
        >
          Create
        </p>
        <p
          v-if="!enableCreate"
          class="form__button--disable text-center mb-10"
          @click="sitesCreateSubmit"
        >
          Create
        </p> -->
        <p
          class="form__button text-center mb-10"
          @click="$router.push('/onboard')"
        >
          Create Site
        </p>
      </div>
      <div
        class="flex flex-col w-full form__input text-center mb-10"
        v-if="loading.create"
      >
        Please wait while we prepare your site...
      </div>

      <div
        class="page flex flex-row justify-between mb-2 handle p-2"
        v-for="(item, index) in sites"
        :key="index"
      >
        <div class="flex flex-col">
          <p class="page__title">{{ item.name }}</p>
        </div>
        <div class="flex flex-row items-end">
          <p
            class="page__button"
            @click="$router.push(`/dashboard/${item.slug}`)"
          >
            Edit
          </p>
          <p class="page__button" @click="siteDeleteSubmit(item)">Delete</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import defaultStyle from "../schema/defaultStyle.js";
import Autocomplete from "@/components/Autocomplete.vue";
import _ from "lodash";

import Header from "@/components/integration/Header.vue";

export default {
  name: "home",
  components: {
    Autocomplete,
    Header,
  },
  created: async function () {
    axios.defaults.headers.common["Authorization"] = localStorage.getItem(
      "jwtToken"
    );

    await this.sitesGetAll();
  },
  data: function () {
    return {
      sites: [],
      form: {
        siteCreate: {
          name: "",
          slug: "",
          handle: "",
        },
      },
      loading: {
        create: false,
      },
    };
  },
  computed: {
    enableCreate: function () {
      return this.form.siteCreate.name === "" ||
        this.form.siteCreate.handle === ""
        ? false
        : true;
    },
  },
  methods: {
    sitesGetAll: async function () {
      let sitesResult = await axios.get(
        process.env.VUE_APP_API + `/api/site/get/all`
      );

      this.sites = sitesResult.data.sites;
    },
    sitesCreateSubmit: async function () {
      if (!this.enableCreate) {
        this.$notify({
          group: "popups",
          type: "error",
          title: "Information Incomplete",
          text: "Please add a website name and choose an instagram account",
        });
        return;
      }
      this.loading.create = true;
      let form = this.form.siteCreate;
      await axios.post(process.env.VUE_APP_API + `/api/site/create`, {
        name: form.name,
        slug: form.slug,
        handle: form.handle,
        style: _.cloneDeep(defaultStyle),
      });

      this.$notify({
        group: "popups",
        title: "Site Created",
        text: "Awesome!",
      });

      this.loading.create = false;
      // this.$refs.autocomplete.clear();

      form.name = "";
      form.handle = "";

      await this.sitesGetAll();
    },
    siteDeleteSubmit: async function (site) {
      await axios.post(process.env.VUE_APP_API + `/api/site/delete`, {
        _id: site._id,
      });

      this.$notify({
        group: "popups",
        title: "Site Deleted",
        text: "Awesome!",
      });

      await this.sitesGetAll();
    },
    logout: function () {
      localStorage.removeItem("jwtToken");
      localStorage.removeItem("usergroup");
      this.$router.push("/");
      this.$notify({
        group: "popups",
        title: "Logout Successful",
        text: "Thank you for using SocialSite",
      });
    },
  },
};
</script>
