<style scoped lang="scss">
@use '@/style/style.scss';

.bg {
  padding-top: 50px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
}

.page {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  .page__title {
    font-weight: 600;
    font-size: 14px;
  }
  .page__info {
    font-size: 12px;
    color: #666;
  }
  .page__button {
    background: #888;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 2px;
    margin-left: 5px;
  }
}
</style>

<template>
  <div class="bg flex flex-col justify-center items-center min-h-screen">
    <div class="wrapper flex flex-col justify-center items-center p-4">
      <p class="pb-2 font-bold text-lg mb-5">Welcome to Swiftly.id</p>
      <p class="form__button text-center mb-5" @click="$router.push('/login')">
        Login
      </p>
      <p
        class="form__button text-center mb-10"
        @click="$router.push('/register')"
      >
        Register
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "home",
  components: {},
  created: async function () {},
  data: function () {
    return {
      sites: [],
      form: {
        userCreate: {
          email: "",
          password: "",
        },
      },
    };
  },
  computed: {},
  methods: {},
};
</script>
