<style scoped lang="scss">
@use '@/style/style.scss';

.wrapper {
  width: 100%;
  max-width: 700px;
  padding: 20px 20px;
}

.toolbar__button {
  background: #888;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: 5px;
  border-bottom: 2px solid #666;
}

.onboard__header {
  font-size: 28px;
}
.onboard__question {
  font-size: 22px;
}
.onboard__text {
  font-size: 16px;
}
.onboard__next {
  font-size: 14px;
  background: #2c2c2c;
  // border: 1px solid #2c2c2c;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  // width: 100%;
  cursor: pointer;
  // display: block;
  &:hover {
    background: #18a0fb;
    // border: 1px solid #18a0fb;
  }
}
.onboard__skip {
  font-size: 14px;
  background: #b1b1b1;
  // border: 1px solid #2c2c2c;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  // width: 100%;
  cursor: pointer;
  // display: block;
  &:hover {
    background: #18a0fb;
    // border: 1px solid #18a0fb;
  }
}
</style>

<template>
  <div class="bg flex flex-col items-center min-h-screen">
    <Header></Header>
    <div class="wrapper flex flex-col flex-grow justify-center items-center">
      <div
        class="flex flex-col w-full form__input text-center mb-10"
        v-if="loading.create"
      >
        Please wait while we prepare your site...
      </div>

      <div class="flex flex-col w-full" v-if="!loading.create">
        <div class="flex flex-col justify-center" v-if="steps === 0">
          <p class="onboard__header mb-2">Hi! I'm your Website Assistant</p>
          <p class="onboard__text mb-2">
            I'll help you fill out your website more easily. Simply answer the
            following questions. Oh and worry not, you can skip them at any
            point and jump straight to editing.
          </p>
          <div class="flex flex-row justify-between">
            <div class="flex flex-row">
              <p class="onboard__next self-start mr-2" @click="steps++">
                OK
              </p>
              <!-- <p class="onboard__skip self-start mr-1" @click="steps++">
                Skip
              </p> -->
            </div>
            <p
              class="onboard__skip self-start"
              @click="$router.push('/dashboard')"
            >
              Cancel
            </p>
          </div>
        </div>
        <div class="flex flex-col" v-if="steps === 1">
          <p class="onboard__question mb-2">
            What is the name of your company?
          </p>
          <input
            class="form__input mb-4"
            placeholder="Website Name"
            v-model="form.siteCreate.name"
          />
          <p class="onboard__question mb-2">
            Choose a short name for your website. People can later access your
            website at https://swiftly.id/{{ form.siteCreate.slug }}
          </p>
          <div class="flex flex-row items-center">
            <p class="text-lg font-bold pr-1">swiftly.id/</p>
            <input
              class="form__input mb-2"
              placeholder="Short Name"
              v-model="form.siteCreate.slug"
            />
          </div>
          <div class="flex flex-row justify-between">
            <div class="flex flex-row">
              <p class="onboard__next self-start mr-2" @click="steps++">
                OK
              </p>
              <!-- <p class="onboard__skip self-start mr-1" @click="steps++">
                Skip
              </p> -->
            </div>
            <p class="onboard__skip self-start" @click="steps--">
              Back
            </p>
          </div>
        </div>

        <div class="flex flex-col" v-if="steps === 2">
          <p class="onboard__question mb-2">
            What is your product / service tagline?
          </p>
          <input
            class="form__input mb-2"
            placeholder="Tagline"
            v-model="form.siteCreate.description"
          />
          <p class="onboard__question mb-2">Do you have a logo?</p>
          <FromImage
            :imageUrl="form.siteCreate.logo"
            label="Upload Logo"
            @input="
              (val) => {
                form.siteCreate.logo = val;
              }
            "
          ></FromImage>
          <!-- <input
            class="form__input mb-2"
            placeholder="Upload Logo"
            v-model="form.siteCreate.logo"
          /> -->
          <div class="flex flex-row justify-between">
            <div class="flex flex-row">
              <p class="onboard__next self-start mr-2" @click="steps++">
                OK
              </p>
              <!-- <p class="onboard__skip self-start mr-1" @click="steps++">
                Skip
              </p> -->
            </div>
            <p class="onboard__skip self-start" @click="steps--">
              Back
            </p>
          </div>
        </div>

        <div class="flex flex-col" v-if="steps === 3">
          <p class="onboard__question mb-2">
            Does your company have an Instagram account? What is your Instagram
            handle?
          </p>
          <input
            class="form__input mb-2"
            placeholder="Instagram Handle (Without @)"
            v-model="form.siteCreate.handle"
          />
          <div class="flex flex-row justify-between">
            <div class="flex flex-row">
              <p class="onboard__next self-start mr-2" @click="steps++">
                OK
              </p>
              <p class="onboard__skip self-start mr-1" @click="steps++">
                Skip
              </p>
            </div>
            <p class="onboard__skip self-start" @click="steps--">
              Back
            </p>
          </div>
        </div>

        <div class="flex flex-col" v-if="steps === 4">
          <p class="onboard__question mb-2">
            Do you have any important links? You can add them here.
          </p>
          <input
            class="form__input mb-2"
            placeholder="Link name"
            v-model="form.siteCreate.linkTitle"
          />
          <input
            class="form__input mb-2"
            placeholder="Link URL"
            v-model="form.siteCreate.linkUrl"
          />
          <div class="flex flex-row justify-between">
            <div class="flex flex-row">
              <p class="onboard__next self-start mr-2" @click="steps++">
                OK
              </p>
              <p class="onboard__skip self-start mr-1" @click="steps++">
                Skip
              </p>
            </div>
            <p class="onboard__skip self-start" @click="steps--">
              Back
            </p>
          </div>
        </div>

        <div class="flex flex-col" v-if="steps === 5">
          <p class="onboard__question mb-2">
            Choose a preset to start! Chosen {{ preset }}
          </p>
          <p @click="preset = 'default'">Default</p>
          <p @click="preset = 'green'">Green</p>
          <div class="flex flex-row justify-between">
            <div class="flex flex-row">
              <p
                class="onboard__next self-start mr-2"
                @click="sitesCreateSubmit"
              >
                OK
              </p>
            </div>
            <p class="onboard__skip self-start" @click="steps--">
              Back
            </p>
          </div>
        </div>
        <div class="flex flex-col" v-if="steps === 6">
          <p class="onboard__header mb-2">
            Way to go! Your answers have been set
          </p>
          <p class="onboard__text mb-2">
            Now, continue editing your slides in the editor to adjust images and
            enter any additional information. Review your slides and use the
            button to have Slidebean automatically arrange your content.
          </p>
          <p class="onboard__next self-start" @click="goToSite">
            Go to Site
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Autocomplete from "@/components/Autocomplete.vue";
import Header from "@/components/integration/Header.vue";
import _ from "lodash";

//Templates
import defaultStyle from "../schema/defaultStyle.js";
import FromImage from "@/components/dashboard/FormImage.vue";

export default {
  name: "home",
  components: {
    Autocomplete,
    Header,
    FromImage,
  },
  created: async function () {
    axios.defaults.headers.common["Authorization"] = localStorage.getItem(
      "jwtToken"
    );

    //Get Preset
    let presets = await axios.get(process.env.VUE_APP_API + `/api/presets`);
    this.template = presets.data.style;
    await this.sitesGetAll();
  },
  data: function () {
    return {
      sites: [],
      steps: 0,
      preset: "default",
      form: {
        siteCreate: {
          name: "",
          slug: "",
          handle: "",
          description: "",
          logo: "",
          linkTitle: "",
          linkUrl: "",
          presets: "",
        },
      },
      template: [],
      loading: {
        create: false,
      },
    };
  },
  computed: {
    enableCreate: function () {
      return this.form.siteCreate.name === "" ||
        this.form.siteCreate.handle === ""
        ? false
        : true;
    },
  },
  methods: {
    sitesGetAll: async function () {
      let sitesResult = await axios.get(
        process.env.VUE_APP_API + `/api/site/get/all`
      );

      this.sites = sitesResult.data.sites;
    },
    sitesCreateSubmit: async function () {
      if (!this.enableCreate) {
        this.$notify({
          group: "popups",
          type: "error",
          title: "Information Incomplete",
          text: "Please add a website name and choose an instagram account",
        });
        return;
      }
      // this.loading.create = true;
      let form = this.form.siteCreate;

      //Choose Template
      let preset = this.preset === "default" ? defaultStyle : this.template;

      await axios.post(process.env.VUE_APP_API + `/api/site/create/new`, {
        name: form.name,
        slug: form.slug,
        handle: form.handle,
        description: form.description,
        logo: form.logo,
        linkTitle: form.linkTitle,
        linkUrl: form.linkUrl,
        presets: form.presets,
        style: JSON.stringify(preset),
      });

      this.$notify({
        group: "popups",
        title: "Site Created",
        text: "Awesome!",
      });

      this.loading.create = false;
      this.steps++;
      // this.$refs.autocomplete.clear();

      // form.name = "";
      // form.handle = "";

      await this.sitesGetAll();
    },
    goToSite: function () {
      this.$router.push("/dashboard/" + this.form.siteCreate.slug);
    },
    siteDeleteSubmit: async function (site) {
      await axios.post(process.env.VUE_APP_API + `/api/site/delete`, {
        _id: site._id,
      });

      this.$notify({
        group: "popups",
        title: "Site Deleted",
        text: "Awesome!",
      });

      await this.sitesGetAll();
    },
    logout: function () {
      localStorage.removeItem("jwtToken");
      localStorage.removeItem("usergroup");
      this.$router.push("/");
      this.$notify({
        group: "popups",
        title: "Logout Successful",
        text: "Thank you for using SocialSite",
      });
    },
  },
};
</script>
