<style scoped lang="scss">
@use '@/style/style.scss';

.bg {
  padding-top: 50px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
}

.page {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  .page__title {
    font-weight: 600;
    font-size: 14px;
  }
  .page__info {
    font-size: 12px;
    color: #666;
  }
  .page__button {
    background: #888;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 2px;
    margin-left: 5px;
  }
}
</style>

<template>
  <div class="bg flex flex-col justify-center items-center min-h-screen">
    <div class="wrapper flex flex-col justify-center items-center p-4">
      <p class="pb-2 font-bold text-lg mb-5">Register your Account</p>
      <input
        class="form__input mb-2"
        placeholder="Email Address"
        type="email"
        v-model="form.userCreate.email"
      />
      <input
        class="form__input mb-5"
        placeholder="Password"
        type="password"
        v-model="form.userCreate.password"
      />
      <p class="form__button text-center mb-10" @click="userRegister">
        Register
      </p>
      <p @click="$router.push('/login')">Have an account? Login here.</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "home",
  components: {},
  created: async function () {},
  data: function () {
    return {
      sites: [],
      form: {
        userCreate: {
          email: "",
          password: "",
        },
      },
    };
  },
  computed: {},
  methods: {
    userRegister: async function () {
      let form = this.form.userCreate;
      let response = await axios.post(
        process.env.VUE_APP_API + `/auth/register`,
        {
          email: form.email,
          password: form.password,
        }
      );

      if (response.data.success) {
        this.$router.push("/login");
        this.$notify({
          group: "popups",
          title: "Register Successful",
          text: "Please Login to continue",
        });
      } else {
        this.$notify({
          group: "popups",
          type: "error",
          title: "Register Failed",
          text: "Email already exist",
        });
      }

      form.email = "";
      form.password = "";
    },
  },
};
</script>
