<style scoped lang="scss"></style>

<template>
  <div>
    <p @click="$router.push('/dashboard')">Back</p>
    <textarea v-html="style" class="w-full min-h-screen" />
  </div>
</template>

<script>
export default {
  name: "Input",
  props: {},
  computed: {
    style: function () {
      let style = this.$store.getters["style"];
      console.log(this.$store.getters["style"]);
      return JSON.stringify({ style });
      return JSON.stringify(this.$store.getters["style"]);
    },
  },
};
</script>
