::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
input:focus {
  outline: none;
}
.form__input {
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  &:focus {
    outline: none;
  }
}
.form__placeholder {
  color: #aaa;
  background: #eee;
  height: 100%;
  padding: 10px 5px;
  border-radius: 5px;
}
.form__textarea {
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  &:focus {
    outline: none;
  }
}
.form__select {
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  &:focus {
    outline: none;
  }
}
.form__select--nowidth {
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
}
.form__button {
  font-size: 14px;
  background: #2c2c2c;
  // border: 1px solid #2c2c2c;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  &:hover {
    background: #18a0fb;
    // border: 1px solid #18a0fb;
  }
}
.form__button--disable {
  background: #ddd;
  border: 1px solid #ddd;
  color: #aaa;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
}
.form__autocomplete {
  border: 1px solid #ddd;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  &:focus {
    outline: none;
  }
  .v-autocomplete-input {
    max-width: 100%;
    width: 100%;
  }
}

.page {
  // border: 1px solid #ddd;
  // border-bottom: 3px solid #ddd;
  box-shadow: 0 5px 5px 0 #ccc;
  width: 100%;
  // padding: 10px 20px;
  border-radius: 5px;
  .page__title {
    font-weight: 600;
    font-size: 14px;
  }
  .page__info {
    font-size: 12px;
    color: #666;
  }
  .page__tag {
    font-size: 8px;
    background-color: #888;
    color: #fff;
    border-radius: 2px;
    padding: 0px 3px;
    height: 15px;
  }
  .page__button {
    // background: #2c2c2c;
    color: #555;
    font-size: 10px;
    padding: 2px 5px 0px 0px;
    border-radius: 2px;
    margin-right: 5px;
    cursor: pointer;
    &:hover {
      color: #222;
    }
  }
  .l--red {
    // background-color: rgb(226, 43, 43);
    color: rgba(226, 43, 43, 0.5);
    &:hover {
      color: rgba(226, 43, 43, 1);
    }
  }
  .page__inner {
    padding: 10px;
  }
  .page__drag {
    cursor: pointer;
    padding: 0 3px;
    color: #aaa;
    background: #2c2c2c;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .page__home {
    color: #aaa;
  }
}

.page__back {
  background: #888;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}
