<style scoped lang="scss">
@use '@/style/style.scss';
.autocomplete {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.autocomplete__result {
  position: absolute;
  top: 50px;
  z-index: 1000;
  background: #fff;
  width: 100%;
  border: 1px solid #ddd;
  // padding: 10px 15px;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: scroll;
}
.autocomplete__profpic {
  width: 50px;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.autocomplete__name {
  font-weight: 600;
}
.autocomplete__username {
  font-size: 14px;
  color: #555;
}
.autocomplete__box {
  padding: 10px;
  cursor: pointer;
}
.autocomplete__box:hover {
  background: #eee;
}
.autocomplete__button {
  background: #888;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: 5px;
  border-bottom: 2px solid #666;
  cursor: pointer;
}
</style>

<template>
  <div class="autocomplete">
    <div class="form__input flex flex-row items-center" v-if="hasChosen">
      <img class="autocomplete__profpic" :src="chosen.profpic" />
      <div class="flex flex-col px-4 flex-grow">
        <p class="autocomplete__name">{{ chosen.name }}</p>
        <p class="autocomplete__username">{{ chosen.username }}</p>
      </div>
      <p class="autocomplete__button" @click="clear">Clear</p>
    </div>
    <input
      v-if="!hasChosen"
      v-model="search"
      class="form__input"
      placeholder="Instagram Account (without @)"
      @keyup="searchHandle"
    />
    <div class="autocomplete__result flex flex-col" v-if="resultShow">
      <div
        v-for="(item, index) in accounts"
        :key="index"
        class="autocomplete__box flex flex-row"
        @click="chooseAccount(item)"
      >
        <img class="autocomplete__profpic" :src="item.profile_pic_url" />
        <div class="flex flex-col px-4">
          <p class="autocomplete__name">{{ item.full_name }}</p>
          <p class="autocomplete__username">{{ item.username }}</p>
        </div>
      </div>
      <div class="p-5 text-center" v-if="accounts.length === 0">
        <p class="text-md text-gray-600">Loading...</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import _ from "lodash";

export default {
  name: "Input",
  props: {
    current: String
  },
  data: function() {
    return {
      searchText: "",
      accounts: [],
      resultShow: false,
      loaded: false,
      chosen: {
        profpic: "",
        name: "",
        username: ""
      },
      hasChosen: false
    };
  },
  computed: {
    search: {
      get() {
        if (this.current !== undefined && this.loaded === false) {
          this.searchText = this.current;
          this.loaded = true;
        }
        return this.searchText;
      },
      set(value) {
        this.searchText = value;
      }
    }
  },
  methods: {
    searchHandle: _.debounce(async function() {
      if (this.search !== "") {
        this.resultShow = true;

        let result = await axios.post(process.env.VUE_APP_API + `/api/search`, {
          search: this.search
        });
        this.accounts = result.data.users.map(x => x.user);
      }
    }, 500),
    chooseAccount: function(account) {
      this.resultShow = false;
      this.search = account.username;
      this.chosen = {
        profpic: account.profile_pic_url,
        name: account.full_name,
        username: account.username
      };
      this.hasChosen = true;
      this.$emit("input", account.username);
    },
    clear: function() {
      this.hasChosen = false;
      this.search = "";
    }
  }
};
</script>
