<style scoped lang="scss">
@use '@/style/style.scss';

.quill-height {
  margin-bottom: 110px;
}
.quill-editor {
  height: 200px;
}
</style>

<template>
  <div class="flex flex-col">
    <input
      placeholder="Page Name"
      class="form__input mb-4"
      v-model="form.name"
      v-if="['instagram', 'link', 'paragraph'].includes(type)"
    />
    <!-- <div class="flex flex-row">
      <div class="form__placeholder mr-1">
        <p>https://swiftly.id/{{ site.slug }}/</p>
      </div>
      <input
        placeholder="Short Name"
        class="form__input mb-4"
        v-model="form.slug"
        v-if="['instagram', 'link', 'paragraph'].includes(type)"
      />
    </div> -->
    <select
      class="form__select mb-4"
      v-model="form.filter"
      v-if="['instagram'].includes(type)"
    >
      <option default value>No Filter</option>
      <option
        v-for="(hashtag, index) in site.hashtags"
        :key="index"
        :value="hashtag"
        >{{ hashtag }}</option
      >
    </select>

    <p class="font-bold" v-if="['link'].includes(type)">
      Add a Link
    </p>
    <p class="font-bold" v-if="['paragraph'].includes(type)">
      Add Content
    </p>
    <input
      placeholder="Title"
      class="form__input mb-4"
      v-model="form.title"
      v-if="['link', 'paragraph'].includes(type)"
    />
    <!-- <input
      placeholder="Link"
      class="form__input mb-4"
      v-model="form.link"
      v-if="['link', 'paragraph'].includes(type)"
    /> -->
    <FormLink
      :link="form.link"
      @input="
        (val) => {
          form.link = val;
        }
      "
      class="mb-4"
    ></FormLink>
    <FormImage
      :imageUrl="form.image"
      label="Image"
      v-if="['paragraph'].includes(type)"
      @input="
        (val) => {
          form.image = val;
        }
      "
    ></FormImage>
    <textarea
      placeholder="Content"
      class="form__textarea mb-4"
      v-model="form.caption"
      v-if="['paragraph'].includes(type)"
    ></textarea>
    <quill-editor
      class="quill-height"
      ref="myQuillEditor"
      v-model="form.textarea"
      v-if="['paragraph'].includes(type)"
    />
    <p class="form__button text-center mb-1" @click="pageCreateSubmit">
      Create Page
    </p>
    <div class="flex flex-row">
      <p class="form__button text-center mr-1" @click="back">
        Back
      </p>
      <p class="form__button text-center ml-1" @click="cancel">
        Cancel
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import defaultStyle from "../../schema/defaultStyle.js";

import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";

import { quillEditor } from "vue-quill-editor";

import FormImage from "@/components/dashboard/FormImage.vue";
import FormLink from "@/components/dashboard/FormLink.vue";

export default {
  name: "FormCreatePage",
  props: {
    type: String,
  },
  components: {
    FormLink,
    FormImage,
    quillEditor,
  },
  data: function () {
    return {
      editor: null,
      form: {
        name: "",
        slug: "",
        filter: "",
        type: "",
        title: "",
        image: "",
        link: "",
        caption: "",
        textarea: "",
      },
    };
  },
  computed: {
    modal: function () {
      return this.$store.getters["modal"];
    },
    pageId: function () {
      return this.modal.pageId;
    },
    site: function () {
      return this.$store.getters["site"].site;
    },
  },
  methods: {
    siteGetData: async function () {
      let params = {
        page: "",
        site: "",
        hasPage: false,
      };
      params.page = this.$route.params.page;
      params.site = this.$route.params.site;
      params.hasPage = params.page !== undefined;

      this.$store.dispatch("siteGetData", {
        params: params,
      });
    },
    pageCreateSubmit: async function () {
      let form = this.form;
      let site = this.site;
      let type = this.type;
      console.log(this.type);

      //Check Duplicate
      // console.log(form, site, type);
      // return;

      await axios.post(process.env.VUE_APP_API + `/api/page/create`, {
        name: form.name,
        handle: form.handle,
        filter: form.filter,
        title: form.title,
        link: form.link,
        image: form.image,
        caption: form.caption,
        textarea: form.textarea,
        type: type,
        site: this.site._id,
        style: defaultStyle,
      });

      this.$notify({
        group: "popups",
        title: "Page Created",
        text: "Awesome!",
      });

      await this.siteGetData();
      this.$modal.hide("page-create");
    },
    back: function () {
      this.$emit("back");
    },
    cancel: function () {
      this.$modal.hide("page-create");
    },
  },
};
</script>
