<style scoped lang="scss">
.preview {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-clip: content-box;
  border-radius: 5px;
}
.button {
  color: #555;
  border: 1px solid #555;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
  &:hover {
    color: #222;
  }
}
.no_image {
  background: #f1f1f1;
  padding: 10px 5px;
  text-align: center;
  border-radius: 2px;
  margin: 5px 0px;
}
</style>

<template>
  <div class="flex flex-col mb-2">
    <p class="font-semibold text-sm">{{ label }}</p>
    <div
      class="preview mb-2"
      :style="picture"
      v-if="this.imageUrl !== ''"
    ></div>
    <p v-if="this.imageUrl === ''" class="no_image" @click="uploadPicture()">
      No Image
    </p>
    <div class="flex flex-row justify-center">
      <p class="button self-start mr-2" @click="uploadPicture()">
        Upload Image
      </p>
      <p class="button self-start" @click="removePicture()">Remove Image</p>
    </div>
    <form enctype="multipart/form-data" v-show="false">
      <input
        type="file"
        ref="uploadPicture"
        @change="onFileChanged($event)"
        name="image"
      />
    </form>
  </div>
</template>

<script>
import _ from "lodash";
import axios from "axios";

export default {
  name: "InputForm",
  props: {
    label: String,
    imageUrl: String,
  },
  components: {},
  data: function () {
    return {
      upload: false,
      newUrl: "",
    };
  },
  computed: {
    picture: function () {
      // if (this.upload) {
      //   return `background-image: url(${this.newUrl})`;
      // }
      return `background-image: url(${this.imageUrl})`;
    },
  },
  methods: {
    removePicture() {
      this.$emit("input", "");
    },
    uploadPicture() {
      this.$refs.uploadPicture.click();
    },
    async onFileChanged(event) {
      let file = event.target.files[0];
      if (
        (file.type === "image/png" ||
          file.type === "image/jpg" ||
          file.type === "image/jpeg") &&
        file.size / 1000 / 1000 <= 10
      ) {
        // Loading;

        //Upload
        const formData = new FormData();
        formData.append("image", file, file.name);
        let result = await axios.post(
          process.env.VUE_APP_API + "/api/image/upload",
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          }
        );

        this.upload = true;
        this.newUrl = result.data.link;

        this.$emit("input", result.data.link);
      }
    },
  },
};
</script>
