<style scoped lang="scss">
@use '@/style/style.scss';

.quill-height {
  margin-bottom: 110px;
}
.quill-editor {
  height: 200px;
}

.preview {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-clip: content-box;
  border-radius: 5px;
}
.button {
  color: #555;
  border: 1px solid #555;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
  &:hover {
    color: #222;
  }
}
</style>

<template>
  <div class="flex flex-col mb-2">
    <p class="font-semibold text-sm">{{ label }}</p>
    <div class="flex flex-row items-center">
      <select class="form__select--nowidth flex w-4/12 mr-1" v-model="type">
        <option default value="Web">Web</option>
        <option v-for="(option, index) in types" :key="index" :value="option">{{
          option
        }}</option>
      </select>
      <div
        class="form__placeholder mr-1"
        v-if="!['Swiftly Page'].includes(type)"
      >
        <p
          v-if="
            ['Web', 'Tokopedia', 'Shopee', 'Bukalapak', 'YouTube'].includes(
              type
            )
          "
        >
          https://
        </p>
        <p v-if="['Instagram', 'TikTok', 'Twitter'].includes(type)">@</p>
      </div>
      <input
        ref="link"
        placeholder="Link"
        class="form__input"
        :model="link"
        @input="updateLink"
      />
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import axios from "axios";

export default {
  name: "InputForm",
  props: {
    label: String,
    link: String,
  },
  components: {},
  data: function () {
    return {
      upload: false,
      newUrl: "",
      type: "Web",
      types: [
        "Swiftly Page",
        "Instagram",
        "YouTube",
        "TikTok",
        "Tokopedia",
        "Shopee",
        "Bukalapak",
        "Twitter",
      ],
    };
  },
  computed: {
    picture: function () {
      // if (this.upload) {
      //   return `background-image: url(${this.newUrl})`;
      // }
      return `background-image: url(${this.imageUrl})`;
    },
  },
  methods: {
    removePicture() {
      this.$emit("input", "");
    },
    updateLink() {
      this.$emit("input", this.$refs.link.value);
    },
    uploadPicture() {
      this.$refs.uploadPicture.click();
    },
    async onFileChanged(event) {
      let file = event.target.files[0];
      if (
        (file.type === "image/png" ||
          file.type === "image/jpg" ||
          file.type === "image/jpeg") &&
        file.size / 1000 / 1000 <= 10
      ) {
        // Loading;

        //Upload
        const formData = new FormData();
        formData.append("image", file, file.name);
        let result = await axios.post(
          process.env.VUE_APP_API + "/api/image/upload",
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          }
        );

        this.upload = true;
        this.newUrl = result.data.link;

        this.$emit("input", result.data.link);
      }
    },
  },
};
</script>
