<style scoped lang="scss">
@use '@/style/style.scss';

.quill-height {
  margin-bottom: 110px;
}
.quill-editor {
  height: 200px;
}
</style>

<template>
  <div class="flex flex-col">
    <input
      placeholder="Page Name"
      class="form__input mb-4"
      v-model="form.name"
    />
    <div class="flex flex-row mb-4">
      <div class="form__placeholder mr-1">
        <p>https://swiftly.id/{{ site.slug }}/</p>
      </div>
      <input placeholder="Short Name" class="form__input" v-model="form.slug" />
    </div>
    <!-- <select
      class="form__select mb-4"
      v-model="form.filter"
      v-if="['instagram'].includes(type)"
    >
      <option default value="">No Filter</option>
      <option
        v-for="(hashtag, index) in site.hashtags"
        :key="index"
        :value="hashtag"
        >{{ hashtag }}</option
      >
    </select> -->
    <!-- <quill-editor
      class="quill-height"
      ref="myQuillEditor"
      v-model="form.textarea"
      v-if="['paragraph'].includes(type)"
    /> -->
    <p class="form__button text-center mb-1" @click="pageEditSubmit">
      Edit Page
    </p>
    <p class="form__button text-center" @click="back">
      Cancel
    </p>
  </div>
</template>

<script>
import axios from "axios";

import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";

import { quillEditor } from "vue-quill-editor";

import FormImage from "@/components/dashboard/FormImage.vue";

export default {
  name: "FormEditPage",
  props: {},
  components: {
    FormImage,
    quillEditor,
  },
  data: function () {
    return {
      editor: null,
    };
  },
  computed: {
    modal: function () {
      return this.$store.getters["modal"];
    },
    pageId: function () {
      return this.modal.pageId;
    },
    form: function () {
      return this.modal.form;
    },
    type: function () {
      return this.modal.form.type;
    },
    site: function () {
      return this.$store.getters["site"].site;
    },
    pages: function () {
      return this.$store.getters["pages"];
    },
  },
  methods: {
    siteGetData: async function () {
      let params = {
        page: "",
        site: "",
        hasPage: false,
      };
      params.page = this.$route.params.page;
      params.site = this.$route.params.site;
      params.hasPage = params.page !== undefined;

      this.$store.dispatch("siteGetData", {
        params: params,
      });
    },
    pageEditSubmit: async function () {
      let form = this.form;

      //Check Duplicate
      if (
        this.pages.some((x) => x.slug.toLowerCase() === form.slug.toLowerCase())
      ) {
        this.$notify({
          group: "popups",
          type: "error",
          title: "Page Name Exists",
          text: "Please choose a different Page Name",
        });
        return;
      }

      await axios.post(process.env.VUE_APP_API + `/api/page/edit`, {
        _id: this.pageId,
        name: form.name,
        slug: form.slug,
      });

      this.$notify({
        group: "popups",
        title: "Page Edited",
        text: "Awesome!",
      });

      await this.siteGetData();
      this.$modal.hide("page-create");
    },
    back: function () {
      this.$modal.hide("page-create");
    },
  },
};
</script>
