<style scoped lang="scss">
@use '@/style/style.scss';

.quill-height {
  margin-bottom: 110px;
}
.quill-editor {
  height: 200px;
}
</style>

<template>
  <div class="flex flex-col">
    <input
      placeholder="Title"
      class="form__input mb-4"
      v-model="form.title"
      v-if="['instagram', 'link', 'paragraph'].includes(type)"
    />
    <FormLink
      :link="form.link"
      @input="
        (val) => {
          form.link = val;
        }
      "
      v-if="['link', 'paragraph'].includes(type)"
    ></FormLink>
    <!-- <input
      placeholder="Link"
      class="form__input mb-4"
      v-model="form.link"
      v-if="['link', 'paragraph'].includes(type)"
    /> -->
    <!-- <input placeholder="Image" class="form__input mb-4" v-model="form.image" /> -->
    <FormImage
      :imageUrl="form.image"
      label="Image"
      v-if="['instagram', 'paragraph'].includes(type)"
      @input="
        (val) => {
          form.image = val;
        }
      "
    ></FormImage>
    <textarea
      placeholder="Content"
      class="form__textarea mb-4"
      v-model="form.caption"
      v-if="['instagram', 'paragraph'].includes(type)"
    ></textarea>
    <quill-editor
      class="quill-height"
      ref="myQuillEditor"
      v-model="form.textarea"
      v-if="['paragraph'].includes(type)"
    />
    <p class="form__button text-center mb-1" @click="postEditSubmit">
      Edit Post
    </p>
    <p class="form__button text-center" @click="back">
      Cancel
    </p>
  </div>
</template>

<script>
import axios from "axios";

import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";

import { quillEditor } from "vue-quill-editor";

import FormImage from "@/components/dashboard/FormImage.vue";
import FormLink from "@/components/dashboard/FormLink.vue";

export default {
  name: "FormEditPost",
  props: {},
  components: {
    FormLink,
    FormImage,
    quillEditor,
  },
  data: function () {
    return {
      editor: null,
    };
  },
  computed: {
    modal: function () {
      return this.$store.getters["modal"];
    },
    pageId: function () {
      return this.modal.pageId;
    },
    form: function () {
      return this.modal.form;
    },
    type: function () {
      return this.modal.form.type;
    },
  },
  methods: {
    siteGetData: async function () {
      let params = {
        page: "",
        site: "",
        hasPage: false,
      };
      params.page = this.$route.params.page;
      params.site = this.$route.params.site;
      params.hasPage = params.page !== undefined;

      this.$store.dispatch("siteGetData", {
        params: params,
      });
    },
    postEditSubmit: async function () {
      let form = this.form;
      let pageId = this.pageId;

      console.log(pageId, form);

      await axios.post(process.env.VUE_APP_API + `/api/post/edit`, {
        page: pageId,
        _id: form._id,
        title: form.title,
        image: form.image,
        caption: form.caption,
        hashtags: form.hashtags,
        textarea: form.textarea,
        link: form.link,
      });

      this.$notify({
        group: "popups",
        title: "Post Edited",
        text: "Awesome!",
      });

      await this.siteGetData();
      this.$modal.hide("post-create");
    },
    back: function () {
      this.$modal.hide("post-create");
    },
  },
};
</script>
