<style scoped lang="scss">
@use '@/style/style.scss';

.quill-height {
  margin-bottom: 110px;
}
.quill-editor {
  height: 200px;
}
</style>

<template>
  <div class="flex flex-col">
    <input
      placeholder="Title"
      class="form__input mb-4"
      v-model="form.title"
      v-if="['instagram', 'link', 'paragraph'].includes(type)"
    />
    <FormLink
      :link="form.link"
      @input="
        (val) => {
          form.link = val;
        }
      "
      v-if="['link', 'paragraph'].includes(type)"
    ></FormLink>
    <!-- <input
      placeholder="Link"
      class="form__input mb-4"
      v-model="form.link"
      v-if="['link', 'paragraph'].includes(type)"
    /> -->
    <!-- <input placeholder="Image" class="form__input mb-4" v-model="form.image" /> -->
    <FormImage
      :imageUrl="form.image"
      label="Image"
      v-if="['instagram', 'paragraph'].includes(type)"
      @input="
        (val) => {
          form.image = val;
        }
      "
    ></FormImage>
    <textarea
      placeholder="Content"
      class="form__textarea mb-4"
      v-model="form.caption"
      v-if="['instagram', 'paragraph'].includes(type)"
    ></textarea>
    <quill-editor
      class="quill-height"
      ref="myQuillEditor"
      v-model="form.textarea"
      v-if="['paragraph'].includes(type)"
    />
    <p class="form__button text-center mb-1" @click="postCreateSubmit">
      Create Post
    </p>
    <div class="flex flex-row">
      <p class="form__button text-center mr-1" @click="back">
        Back
      </p>
      <p class="form__button text-center ml-1" @click="cancel">
        Cancel
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";

import { quillEditor } from "vue-quill-editor";

import FormImage from "@/components/dashboard/FormImage.vue";
import FormLink from "@/components/dashboard/FormLink.vue";

export default {
  name: "FormCreatePost",
  props: {
    type: String,
  },
  components: {
    FormImage,
    FormLink,
    quillEditor,
  },
  data: function () {
    return {
      editor: null,
      form: {
        title: "",
        link: "",
        caption: "",
        hashtags: "",
        image: "",
        textarea: "",
      },
    };
  },
  computed: {
    modal: function () {
      return this.$store.getters["modal"];
    },
    pageId: function () {
      return this.modal.pageId;
    },
  },
  methods: {
    siteGetData: async function () {
      let params = {
        page: "",
        site: "",
        hasPage: false,
      };
      params.page = this.$route.params.page;
      params.site = this.$route.params.site;
      params.hasPage = params.page !== undefined;

      this.$store.dispatch("siteGetData", {
        params: params,
      });
    },
    postCreateSubmit: async function () {
      let form = this.form;
      let type = this.type;

      await axios.post(process.env.VUE_APP_API + `/api/post/create`, {
        _id: this.pageId,
        post: {
          type,
          ...form,
        },
      });

      this.$notify({
        group: "popups",
        title: "Post Created",
        text: "Awesome!",
      });

      // form.title = "";
      // form.link = "";
      // form.caption = "";
      // form.hashtags = "";
      // form.image = "";
      // form.textarea = "";

      await this.siteGetData();
      this.$modal.hide("post-create");
    },
    back: function () {
      this.$emit("back");
    },
    cancel: function () {
      this.$modal.hide("post-create");
    },
  },
};
</script>
