<style scoped lang="scss">
@use '@/style/style.scss';

.modal__title {
  font-weight: 600;
  color: #222;
  font-size: 20px;
  margin-bottom: 5px;
}
</style>

<template>
  <modal name="page-create" height="100%" :maxHeight="500">
    <div
      class="flex flex-col p-4 overflow-y-scroll h-full w-full"
      v-if="mode === 'create'"
    >
      <p class="modal__title">Add Page</p>
      <div v-if="pageType === 'all' && type === ''">
        <p class="font-bold text-center mb-2">Choose Post Type</p>
        <p class="form__button text-center mb-2" @click="type = 'instagram'">
          Gallery - Instagram
        </p>
        <p class="form__button text-center mb-2" @click="type = 'links'">
          Landing page - Links
        </p>
        <p class="form__button text-center mb-2" @click="type = 'paragraph'">
          Static page - Paragraph
        </p>
        <p class="form__button text-center mb-2" @click="cancel">
          Cancel
        </p>
      </div>
      <div v-if="type === 'links'">
        <FormCreatePage type="link" @back="type = ''"></FormCreatePage>
      </div>
      <div v-if="type === 'paragraph'">
        <FormCreatePage type="paragraph" @back="type = ''"></FormCreatePage>
      </div>
      <div v-if="type === 'instagram'">
        <FormCreatePage type="instagram" @back="type = ''"></FormCreatePage>
      </div>
    </div>
    <div
      class="flex flex-col p-4 overflow-y-scroll h-full w-full"
      v-if="mode === 'edit'"
    >
      <p class="modal__title">Edit Page</p>
      <FormEditPage></FormEditPage>
    </div>
  </modal>
</template>

<script>
import FormCreatePage from "@/components/dashboard/FormCreatePage.vue";
import FormEditPage from "@/components/dashboard/FormEditPage.vue";

export default {
  name: "ModalPage",
  props: {},
  components: {
    FormCreatePage,
    FormEditPage,
  },
  data: function () {
    return {
      type: "",
      form: {},
    };
  },
  computed: {
    modal: function () {
      return this.$store.getters["modal"];
    },
    mode: function () {
      return this.modal.mode;
    },
    pageType: function () {
      return this.modal.pageType;
    },
    pageId: function () {
      return this.moda.pageId;
    },
  },
  methods: {
    cancel: function () {
      this.$modal.hide("page-create");
    },
  },
};
</script>
