<style scoped lang="scss">
@use '@/style/style.scss';

.modal__title {
  font-weight: 600;
  color: #222;
  font-size: 20px;
  margin-bottom: 5px;
}
</style>

<template>
  <modal name="post-create" height="100%" :maxHeight="500">
    <div
      class="flex flex-col p-4 overflow-y-scroll h-full w-full"
      v-if="mode === 'create'"
    >
      <p class="modal__title">Add Post</p>
      <div v-if="pageType === 'links' && type === ''">
        <p class="font-bold text-center mb-2">Choose Post Type</p>
        <p class="form__button text-center mb-2" @click="type = 'link'">
          Links
        </p>
        <p class="form__button text-center mb-2" @click="type = 'paragraph'">
          Paragraph
        </p>
      </div>
      <div v-if="type === 'link'">
        <FormCreatePost type="link" @back="type = ''"></FormCreatePost>
      </div>
      <div v-if="type === 'paragraph'">
        <FormCreatePost type="paragraph" @back="type = ''"></FormCreatePost>
      </div>
      <div v-if="pageType === 'instagram'">
        <FormCreatePost type="instagram" @back="type = ''"></FormCreatePost>
      </div>
    </div>
    <div
      class="flex flex-col p-4 overflow-y-scroll h-full w-full"
      v-if="mode === 'edit'"
    >
      <p class="modal__title">Edit Post</p>
      <FormEditPost></FormEditPost>
    </div>
  </modal>
</template>

<script>
import FormCreatePost from "@/components/dashboard/FormCreatePost.vue";
import FormEditPost from "@/components/dashboard/FormEditPost.vue";

export default {
  name: "Input",
  props: {},
  components: {
    FormCreatePost,
    FormEditPost,
  },
  data: function () {
    return {
      type: "",
      form: {},
    };
  },
  computed: {
    modal: function () {
      return this.$store.getters["modal"];
    },
    mode: function () {
      return this.modal.mode;
    },
    pageType: function () {
      return this.modal.pageType;
    },
    pageId: function () {
      return this.moda.pageId;
    },
  },
  methods: {},
};
</script>
