<style scoped lang="scss">
</style>

<template>
  <div>
    <div v-for="(block, index) in nodes" :key="index">
      <div :class="getClass(block)">
        <!-- <p class="underline">{{block.type}}</p> -->
        <!-- <p class="pl-5" v-if="block.type === 'container'">Container!</p> -->
        <p v-if="block.type === 'container-row'">Container!</p>
        <div v-if="block.type === 'text'">
          <p>{{block.content.text === '' ? content.text : block.content.text}}</p>
          <p>Text</p>
        </div>
        <Blocks :nodes="block.nodes" v-if="block.nodes.length !== 0 && block.type !== 'content'"></Blocks>

        <!-- For Content -->
        <div v-if="block.type === 'content'">
          <div v-for="(item, index) in stream(block)" :key="index">
            <div :class="getClass(block)">
              <Blocks :nodes="block.nodes" :content="item" v-if="block.nodes.length !== 0"></Blocks>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-center" v-if="block.type !== ''">
        <p class="px-2" v-if="block.hasChildren" @click="showBlocks(block)">Add</p>
        <p class="px-2" @click="editBlock(block)">Edit</p>
        <p class="px-2" @click="removeChild(block)" v-if="block.id !== 'root'">Remove</p>
      </div>
    </div>
  </div>
</template>

<script>
import Spec from "./Spec.js";

export default {
  name: "Blocks",
  components: {},
  props: {
    nodes: Array,
    content: Object
  },
  created: function() {
    console.log(this.nodes);
    return {};
  },
  data: function() {
    return {
      blocks: Spec.blocks,
      // stream: [{ text: "a" }, { text: "b" }, { text: "c" }],
      streamTest: [
        [{ text: "a" }],
        [{ text: "x" }, { text: "y" }, { text: "z" }]
      ]
    };
  },
  computed: {},
  methods: {
    stream: function(block) {
      console.log("stream", block.content.stream);
      let content = this.streamTest[parseInt(block.content.stream)];
      console.log(content);
      return content;
    },
    getClass: function(block) {
      if (block.type === "container") {
        return "border border-red-800 bg-red-200 rounded p-5";
      }
      if (block.type === "container-row") {
        return "border border-red-800 bg-red-200 rounded flex flex-row";
      }
      return "";
    },
    addChild: function(block, spec) {
      console.log(block);
      block.nodes.push({
        type: spec.type,
        nodes: [],
        hasChildren: spec.hasChildren
      });
    },
    removeChild: function(block) {
      this.$store.commit("nodes", {
        type: "REMOVE",
        block: {
          id: block.id,
          parent: block.parent
        }
      });
    },
    showBlocks: function(block) {
      this.$store.commit("control", {
        type: "SHOW",
        block: block.id
      });
    },
    editBlock: function(block) {
      this.$store.commit("edit", {
        type: "OPEN",
        block: block
      });
    }
  }
};
</script>