<style scoped lang="scss">
</style>

<template>
  <div>
    <Blocks :nodes="page.nodes" :content="page.content"></Blocks>
    <Control v-if="showControl"></Control>
    <Edit v-if="showEdit"></Edit>
  </div>
</template>

<script>
import Spec from "./Spec.js";
import Blocks from "./Blocks.vue";
import Control from "./Control.vue";
import Edit from "./Edit.vue";

export default {
  name: "Editor",
  components: {
    Blocks,
    Control,
    Edit
  },
  created: function() {
    return {};
  },
  data: function() {
    return {
      blocks: Spec.blocks
    };
  },
  computed: {
    page: function() {
      return this.$store.getters["page"];
    },
    showControl: function() {
      return this.$store.getters["control"].modal;
    },
    showEdit: function() {
      return this.$store.getters["edit"].modal;
    }
  },
  methods: {
    addChild: function(spec) {
      console.log(spec.type);
      this.page.nodes.push({
        type: spec.type,
        nodes: [],
        hasChildren: spec.hasChildren
      });
    }
  },
  metaInfo: {
    title: "My Awesome Webapp",
    // override the parent template and just use the above title only
    titleTemplate: null
  }
};
</script>