<style scoped lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}

.modal-container {
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-input {
  border: 1px solid #222;
}
</style>


<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper" @click.self="close">
        <div class="modal-container">
          <div class="modal-body">
            <div class="flex flex-col justify-center text-sm font-bold">
              <input class="modal-input" v-model="text" />
            </div>
            <p @click="close">close</p>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import Spec from "./Spec.js";

export default {
  name: "Control",
  props: {},
  components: {},
  created: function() {},
  data: function() {
    return {
      blocks: Spec.blocks
    };
  },
  computed: {
    text: {
      set(value) {
        console.log(value);
        this.$store.commit("edit", {
          type: "EDIT",
          key: "text",
          value
        });
      },
      get() {
        return this.$store.getters["edit"].content.text;
      }
    }
  },
  methods: {
    close: function() {
      this.$store.commit("edit", { type: "CLOSE" });
    }
  }
};
</script>