<template>
  <div id="app">
    <router-view />
    <notifications group="popups" position="bottom right" />
  </div>
</template>

<script>
export default {
  name: "App",
  props: {},
  components: {},
  created: function () {},
  data: function () {
    return {};
  },
  computed: {},
  methods: {},
};
</script>

<style lang="scss">
@use '@/style/gradient.scss';

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #222;
}
</style>
