<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css"
      integrity="sha256-ct5KWWMn5eSjQCQkdJrskmSppUJDoXwUlBQXCZcISPk="
      crossorigin="anonymous"
    />
    <title><%= site.name %></title>
  </head>

  <body
    class="<%= design.background.class %>"
    style="<%= design.background.style %>"
  >
    <div class="flex flex-col items-center w-full max-h-screen">
      <!-- Header -->
      <div
        class="<%= design.header.class %>"
        style="<%= design.header.style %>"
      >
        <p
          class="<%= design.headerTitle.class %>"
          style="<%= design.headerTitle.style %>"
        >
          <%= site.name %>
        </p>
        <div
          class="<%= design.navigation.class %>"
          style="<%= design.navigation.style %>"
        >
          <% navigation.forEach(function(nav){ %>
          <div
            class="<%= design.navigationLink.class %>"
            style="<%= design.navigationLink.style %>"
          >
            <a href="<%= nav.url %>"><%= nav.name %></a>
          </div>
          <% }); %>
        </div>
      </div>

      <!-- Body -->
      <div class="<%= design.body.class %>" style="<%= design.body.style %>">
        <!-- Card -->
        <% posts.forEach(function(post){ %> <% if(post.type === 'link'){ %>
        <a
          class="<%= design.link.class %>"
          style="<%= design.link.style %>"
          href="<%=post.link%>"
          ><%=post.title%></a
        >
        <% } if(post.type === 'paragraph'){%>
        <div
          class="<%= design.paragraph.class %>"
          style="<%= design.paragraph.style %>"
        >
          <a
            class="<%= design.paragraphTitle.class %>"
            style="<%= design.paragraphTitle.style %>"
            href="<%= post.link %>"
            target="_blank"
          >
            <%= post.title %>
          </a>
          <% if(post.image !== ''){ %>
          <img src="<%= post.image %>" />
          <% } %>
          <p
            class="<%= design.paragraphDescription.class %>"
            style="<%= design.paragraphDescription.style %>"
          >
            <%= post.caption %>
          </p>
          <div
            class="<%= design.paragraphContent.class %>"
            style="<%= design.paragraphContent.style %>"
          >
            <%- post.textarea %>
          </div>
        </div>
        <% } if(post.type === 'instagram'){ %>
        <div
          class="<%= design.cardSpacing.class %>"
          style="<%= design.cardSpacing.style %>"
        >
          <div
            class="<%= design.card.class %>"
            style="<%= design.card.style %>"
          >
            <img
              class="<%= design.cardImage.class %>"
              style="<%= design.cardImage.style %>"
              src="<%= post.image %>"
            />
            <p
              class="<%= design.cardCaption.class %>"
              style="<%= design.cardCaption.style %>"
            >
              <%= post.caption %>
            </p>
          </div>
        </div>
        <% } %> <% }); %>
      </div>
    </div>
  </body>
</html>
