<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css" integrity="sha256-ct5KWWMn5eSjQCQkdJrskmSppUJDoXwUlBQXCZcISPk=" crossorigin="anonymous"/>
        <title>{{ site.name }}</title>
    </head>
    <body class="{{{ design.background.class }}}" style="{{{ design.background.style }}}">
        <div class="flex flex-col items-center w-full max-h-screen">            
            <!-- Header -->
            <div class="{{{ design.header.class }}}" style="{{{ design.header.style }}}">
                <p class="{{{ design.headerTitle.class }}}" style="{{{ design.headerTitle.style }}}">
                    {{ site.name }}
                </p>
                <div class="{{{ design.navigation.class }}}" style="{{{ design.navigation.style }}}">
                    {{#navigation}}
                        <div class="{{{ design.navigationLink.class }}}" style="{{{ design.navigationLink.style }}}">
                            <a href="{{{ url }}}">{{ name }}</a>
                        </div>
                    {{/navigation}}
                </div>
            </div>

            <!-- Body -->
            <div
                class="{{{ design.body.class }}}" style="{{{ design.body.style }}}">
                <!-- Card -->
                {{#posts}}
                    <div class="{{{ design.cardSpacing.class }}}" style="{{{ design.cardSpacing.style }}}">
                        <div class="{{{ design.card.class }}}" style="{{{ design.card.style }}}">
                            <img
                            class="{{{ design.cardImage.class }}}" style="{{{ design.cardImage.style }}}" src="{{{ image }}}"/>
                            <p class="{{{ design.cardCaption.class }}}" style="{{{ design.cardCaption.style }}}" >{{ caption }}</p>
                        </div>
                    </div>
                {{/posts}}
            </div>            
        </div>
    </body>
</html></div></body></html>
