<style scoped lang="scss">
@use '@/style/style.scss';

.bg {
  padding-top: 50px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
}

.page {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  .page__title {
    font-weight: 600;
    font-size: 14px;
  }
  .page__image {
    width: 200px;
    margin-bottom: 5px;
  }
  .page__info {
    font-size: 12px;
    color: #666;
  }
  .page__button {
    background: #888;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 2px;
    margin-left: 5px;
  }
}

.site__name {
  font-size: 24 x;
  font-weight: 600;
  color: #222;
}
.site__link {
  font-size: 14px;
  color: #666;
}

.modal__title {
  font-weight: 600;
  color: #222;
  font-size: 20px;
  margin-bottom: 5px;
}

.toolbar__button {
  background: #888;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: 5px;
  border-bottom: 2px solid #666;
}
</style>

<template>
  <div class="bg flex flex-col items-center min-h-screen">
    <div class="wrapper flex flex-col justify-center items-center">
      <div class="flex flex-row justify-end w-full mb-5">
        <p
          class="toolbar__button"
          @click="$router.push(`/dashboard/${params.site}`)"
        >
          My Page
        </p>
        <p class="toolbar__button ml-2" @click="logout">Logout</p>
      </div>

      <div class="flex flex-col w-full justify-start mb-5">
        <p class="site__name">{{ site.name }}</p>
        <p class="site__link" @click="siteVisit">
          swiftly.id/{{ params.site }}/{{ params.page }}
        </p>
      </div>

      <div class="flex flex-row mb-5 w-full">
        <div
          class="form__button text-center mr-2 w-6/12 flex flex-col"
          @click="postCreateModalShow"
        >
          Add New Post
        </div>
        <div
          class="form__button text-center ml-2 w-6/12 flex flex-col"
          @click="$router.push(`/editor/${params.site}/${params.page}`)"
        >
          Edit Page Appearance
        </div>
      </div>
      <draggable v-model="posts" class="w-full" @change="postsReorder">
        <div
          class="page flex flex-row justify-between mb-2 handle"
          v-for="(item, index) in posts"
          :key="index"
        >
          <div class="flex flex-col" v-if="page.type === 'instagram'">
            <img class="page__image" :src="item.image" />
            <p class="page__info">{{ item.caption }}</p>
            <p class="page__info">{{ item.link }}</p>
          </div>
          <div class="flex flex-col" v-if="page.type === 'links'">
            <p class="page__title">{{ item.title }}</p>
            <p class="page__info">{{ item.link }}</p>
          </div>
          <div class="flex flex-row items-end">
            <p class="page__button" @click="postEditModalShow(item)">Edit</p>
            <p class="page__button" @click="postDeleteSubmit(item)">Delete</p>
          </div>
        </div>
      </draggable>
    </div>

    <!-- Modal -->
    <modal name="post-create" height="100%" :maxHeight="500">
      <div class="flex flex-col p-4 overflow-y-scroll h-full">
        <p class="modal__title">Add Post</p>
        <div v-if="page.type === 'links' && form.postCreate.type === ''">
          <p class="font-bold text-center mb-2">Choose Post Type</p>
          <p
            class="form__button text-center mb-2"
            @click="form.postCreate.type = 'link'"
          >
            Links
          </p>
          <p
            class="form__button text-center mb-2"
            @click="form.postCreate.type = 'collapsible'"
          >
            Collapsible
          </p>
          <p
            class="form__button text-center mb-2"
            @click="form.postCreate.type = 'paragraph'"
          >
            Paragraph
          </p>
        </div>
        <div v-if="page.type === 'links' && form.postCreate.type !== ''">
          <div v-if="form.postCreate.type === 'link'">
            <input
              placeholder="Link Name"
              class="form__input mb-4"
              v-model="form.postCreate.title"
            />
            <input
              placeholder="Link URL"
              class="form__input mb-4"
              v-model="form.postCreate.link"
            />
          </div>
          <div v-if="form.postCreate.type === 'collapsible'">
            <input
              placeholder="Title"
              class="form__input mb-4"
              v-model="form.postCreate.title"
            />
            <input
              placeholder="Description"
              class="form__input mb-4"
              v-model="form.postCreate.caption"
            />
            <textarea
              placeholder="Content"
              class="form__textarea mb-4"
              v-model="form.postCreate.textarea"
            ></textarea>
          </div>
          <div v-if="form.postCreate.type === 'paragraph'">
            <input
              placeholder="Title"
              class="form__input mb-4"
              v-model="form.postCreate.title"
            />
            <input
              placeholder="Description"
              class="form__input mb-4"
              v-model="form.postCreate.caption"
            />
            <textarea
              placeholder="Content"
              class="form__textarea mb-4"
              v-model="form.postCreate.textarea"
            ></textarea>
          </div>
        </div>
        <div v-if="page.type === 'instagram'">
          <input
            placeholder="Image Name"
            class="form__input mb-4"
            v-model="form.postCreate.title"
          />
          <input
            placeholder="Image URL"
            class="form__input mb-4"
            v-model="form.postCreate.image"
          />
          <input
            placeholder="Image Caption"
            class="form__input mb-4"
            v-model="form.postCreate.caption"
          />
          <input
            placeholder="Image Link"
            class="form__input mb-4"
            v-model="form.postCreate.link"
          />
        </div>
        <p
          class="form__button text-center"
          @click="postCreateSubmit"
          v-if="form.postCreate.type !== ''"
        >
          Create Post
        </p>
      </div>
    </modal>

    <modal name="post-edit" height="100%" :maxHeight="500">
      <div class="flex flex-col p-4 overflow-y-scroll h-full">
        <p class="modal__title">Edit Post</p>
        <div v-if="page.type === 'links'">
          <div v-if="form.postEdit.type === 'link'">
            <input
              placeholder="Link Name"
              class="form__input mb-4"
              v-model="form.postEdit.title"
            />
            <input
              placeholder="Link URL"
              class="form__input mb-4"
              v-model="form.postEdit.link"
            />
          </div>
          <div v-if="form.postEdit.type === 'collapsible'">
            <input
              placeholder="Title"
              class="form__input mb-4"
              v-model="form.postEdit.title"
            />
            <input
              placeholder="Description"
              class="form__input mb-4"
              v-model="form.postEdit.caption"
            />
            <textarea
              placeholder="Content"
              class="form__textarea mb-4"
              v-model="form.postEdit.textarea"
            ></textarea>
          </div>
          <div v-if="form.postEdit.type === 'paragraph'">
            <input
              placeholder="Title"
              class="form__input mb-4"
              v-model="form.postEdit.title"
            />
            <input
              placeholder="Description"
              class="form__input mb-4"
              v-model="form.postEdit.caption"
            />
            <textarea
              placeholder="Content"
              class="form__textarea mb-4"
              v-model="form.postEdit.textarea"
            ></textarea>
          </div>
        </div>
        <div v-if="page.type === 'instagram'">
          <input
            placeholder="Image Name"
            class="form__input mb-4"
            v-model="form.postEdit.title"
          />
          <input
            placeholder="Image URL"
            class="form__input mb-4"
            v-model="form.postEdit.image"
          />
          <input
            placeholder="Image Caption"
            class="form__input mb-4"
            v-model="form.postEdit.caption"
          />
          <input
            placeholder="Image Link"
            class="form__input mb-4"
            v-model="form.postEdit.link"
          />
        </div>
        <p class="form__button text-center" @click="postEditSubmit">
          Edit Post
        </p>
      </div>
    </modal>
  </div>
</template>

<script>
import axios from "axios";
import defaultStyle from "../schema/defaultStyle.js";

import draggable from "vuedraggable";
import Autocomplete from "@/components/Autocomplete.vue";

Array.prototype.move = function(from, to) {
  this.splice(to, 0, this.splice(from, 1)[0]);
};

export default {
  name: "DashboardPage",
  components: {
    draggable,
    Autocomplete
  },
  created: async function() {
    axios.defaults.headers.common["Authorization"] = localStorage.getItem(
      "jwtToken"
    );
    //Figure out params logic
    this.params.page =
      this.$route.params.page === undefined
        ? this.propPage
        : this.$route.params.page;
    this.params.site =
      this.$route.params.site === undefined
        ? this.propSite
        : this.$route.params.site;
    this.params.hasPage = this.params.page !== undefined;

    await this.siteGetData();
  },
  data: function() {
    return {
      site: {},
      page: {},
      pages: [],
      posts: [],
      form: {
        postCreate: {
          title: "",
          image: "",
          caption: "",
          hashtags: "",
          textarea: "",
          link: "",
          type: ""
        },
        postEdit: {
          _id: "",
          title: "",
          image: "",
          caption: "",
          hashtags: "",
          textarea: "",
          link: "",
          type: ""
        }
      },
      params: {
        page: "",
        site: "",
        hasPage: false
      }
    };
  },
  computed: {
    pagesOrdered: {
      get() {
        if (this.pages.length > 0) {
          let pages = this.site.navigation.map(x => {
            let result = this.pages.filter(s => s._id === x)[0];
            return result;
          });
          return pages;
        }
        return [];
      },
      set(value) {
        this.pages = value;
      }
    }
  },
  methods: {
    postsReorder: async function(ev) {
      console.log(ev);
      let posts = this.posts;
      let move = ev.moved;
      let from = move.newIndex < move.oldIndex ? move.newIndex : move.oldIndex;
      let to = move.newIndex < move.oldIndex ? move.oldIndex : move.newIndex;
      let fromTop = move.newIndex > move.oldIndex ? true : false;
      console.log(fromTop);
      console.log(from, to);

      let arrayCluster = posts.slice(from, to + 1);
      console.log(arrayCluster.map(x => x.title));

      let originalCluster = arrayCluster.slice();
      if (fromTop) {
        originalCluster.pop();
        originalCluster.unshift(arrayCluster[arrayCluster.length - 1]);
      } else {
        originalCluster.shift();
        originalCluster.push(arrayCluster[0]);
      }

      console.log(originalCluster.map(x => x.title));

      //Redestribute
      let reorderedCluster = arrayCluster.map((x, i) => {
        return {
          _id: x._id,
          title: x.title,
          order: originalCluster[i].order
        };
      });
      console.log(reorderedCluster);

      await axios.post(process.env.VUE_APP_API + `/api/post/reorder`, {
        page: this.page._id,
        reorderedCluster
      });

      await this.siteGetData();
    },
    siteGetData: async function() {
      let url = "";
      let pkg = {};
      if (this.params.hasPage) {
        url = `/api/page/load`;
        pkg = {
          site: this.params.site,
          slug: this.params.page
        };
      } else {
        url = `/api/site/load`;
        pkg = {
          slug: this.params.site
        };
      }

      //Get Site Info
      let siteResult = await axios.post(process.env.VUE_APP_API + url, pkg);
      let site = siteResult.data.site;
      console.log(site);

      //Assign Results
      this.site = siteResult.data.site;
      this.page = siteResult.data.page;
      this.posts = siteResult.data.posts;
      console.log(this.posts);
    },
    // siteNavigationReorder: async function() {
    //   let navigation = this.pages.map(x => x._id);
    //   this.site.navigation = navigation;

    //   // return
    //   await axios.post(
    //     process.env.VUE_APP_API + `/api/site/update/navigation`,
    //     {
    //       _id: this.site._id,
    //       navigation: this.site.navigation
    //     }
    //   );
    // },
    siteVisit: async function() {
      this.$router.push(`/${this.site.slug}`);
    },
    postCreateModalShow: async function() {
      this.$modal.show("post-create");
    },
    postCreateSubmit: async function() {
      let form = this.form.postCreate;
      let page = this.page;

      await axios.post(process.env.VUE_APP_API + `/api/post/create`, {
        _id: page._id,
        post: {
          ...form
        }
      });

      this.$notify({
        group: "popups",
        title: "Post Created",
        text: "Awesome!"
      });

      form.title = "";
      form.image = "";
      form.caption = "";
      form.hashtags = "";
      form.textarea = "";
      form.link = "";
      form.type = "";

      await this.siteGetData();
      this.$modal.hide("post-create");
    },
    postEditModalShow: async function(post) {
      console.log(post);
      let form = this.form.postEdit;
      form._id = post._id;
      form.title = post.title;
      form.image = post.image;
      form.caption = post.caption;
      form.hashtags = post.hashtags;
      form.textarea = post.textarea;
      form.link = post.link;
      form.type = post.type;
      this.$modal.show("post-edit");
    },
    postEditSubmit: async function() {
      let form = this.form.postEdit;
      let page = this.page;

      //Check Duplicate
      if (
        this.pages.some(x => x.name.toLowerCase() === form.name.toLowerCase())
      ) {
        this.$notify({
          group: "popups",
          type: "error",
          title: "Page Name Exists",
          text: "Please choose a different Page Name"
        });
        return;
      }

      await axios.post(process.env.VUE_APP_API + `/api/post/edit`, {
        page: page._id,
        _id: form._id,
        title: form.title,
        image: form.image,
        caption: form.caption,
        hashtags: form.hashtags,
        textarea: form.textarea,
        link: form.link
      });

      this.$notify({
        group: "popups",
        title: "Post Edited",
        text: "Awesome!"
      });

      form._id = "";
      form.title = "";
      form.image = "";
      form.caption = "";
      form.hashtags = "";
      form.textarea = "";
      form.link = "";

      await this.siteGetData();
      this.$modal.hide("post-edit");
    },
    postDeleteSubmit: async function(post) {
      await axios.post(process.env.VUE_APP_API + `/api/post/delete`, {
        page: this.page._id,
        _id: post._id
      });

      this.$notify({
        group: "popups",
        title: "Post Deleted",
        text: "Awesome!"
      });

      await this.siteGetData();
    },
    logout: function() {
      localStorage.removeItem("jwtToken");
      localStorage.removeItem("usergroup");
      this.$router.push("/");
      this.$notify({
        group: "popups",
        title: "Logout Successful",
        text: "Thank you for using SocialSite"
      });
    }
  }
};
</script>
