<style scoped lang="scss">
@use '@/style/style.scss';

.bg {
  padding-top: 50px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
}

.page {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  .page__title {
    font-weight: 600;
    font-size: 14px;
  }
  .page__info {
    font-size: 12px;
    color: #666;
  }
  .page__tag {
    font-size: 8px;
    background-color: #888;
    color: #fff;
    border-radius: 2px;
    padding: 0px 3px;
    height: 15px;
  }
  .page__button {
    background: #888;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 2px;
    margin-left: 5px;
    cursor: pointer;
  }
  .l--red {
    background-color: rgb(187, 60, 60);
  }
}

.site__name {
  font-size: 24 x;
  font-weight: 600;
  color: #222;
}
.site__link {
  font-size: 14px;
  color: #666;
}

.modal__title {
  font-weight: 600;
  color: #222;
  font-size: 20px;
  margin-bottom: 5px;
}

.toolbar__button {
  background: #888;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: 5px;
  border-bottom: 2px solid #666;
}
</style>

<template>
  <div class="bg flex flex-col items-center min-h-screen">
    <div class="wrapper flex flex-col justify-center items-center">
      <div class="flex flex-row justify-end w-full mb-5">
        <p class="toolbar__button" @click="$router.push('/dashboard')">
          My Sites
        </p>
        <p class="toolbar__button ml-2" @click="logout">Logout</p>
      </div>

      <div class="flex flex-col w-full justify-start mb-5">
        <p class="site__name">{{ site.name }}</p>
        <p class="site__link" @click="siteVisit">swiftly.id/{{ site.slug }}</p>
      </div>

      <div class="flex flex-row mb-5 w-full">
        <div
          class="form__button text-center mr-2 w-6/12 flex flex-col"
          @click="pageCreateModalShow"
        >
          Add New Page
        </div>
        <div
          class="form__button text-center ml-2 w-6/12 flex flex-col"
          @click="$router.push(`/editor/${site.slug}`)"
        >
          Edit Site Appearance
        </div>
      </div>

      <draggable
        v-model="pagesOrdered"
        class="w-full"
        @change="siteNavigationReorder"
      >
        <div
          class="page flex flex-row justify-between mb-2 handle"
          v-for="(item, index) in pagesOrdered"
          :key="index"
        >
          <div class="flex flex-col">
            <div class="flex flex-row items-center">
              <p class="page__title">{{ item.name }}</p>
              <p
                class="page__tag items-center flex flex-row ml-2"
                v-if="site.home === item._id"
              >
                Home
              </p>
            </div>
            <p class="page__info">@{{ item.social.handle }}</p>
            <p class="page__info" v-if="item.type === 'instagram'">
              {{ item.social.filter === "" ? "No Filter" : item.social.filter }}
            </p>
          </div>
          <div class="flex flex-row items-end">
            <p class="page__button" @click="managePosts(item)">Manage Posts</p>
            <p class="page__button" @click="setAsHome(item)">Set as Home</p>
            <p class="page__button" @click="pageEditModalShow(item)">Edit</p>
            <p class="page__button l--red" @click="pageDeleteSubmit(item)">
              Delete
            </p>
          </div>
        </div>
      </draggable>
    </div>

    <!-- Modal -->
    <modal name="page-create">
      <div class="modal flex flex-col p-4">
        <p class="modal__title">Add Page</p>

        <div v-if="form.pageCreate.type === ''">
          <p class="font-bold text-center mb-2">Choose Page Type</p>
          <p
            class="form__button text-center mb-2"
            @click="form.pageCreate.type = 'instagram'"
          >
            Instagram Gallery
          </p>
          <p
            class="form__button text-center mb-2"
            @click="form.pageCreate.type = 'links'"
          >
            Links Page
          </p>
        </div>
        <div v-if="form.pageCreate.type === 'links'">
          <input
            placeholder="Page Name"
            class="form__input mb-4"
            v-model="form.pageCreate.name"
          />
          <input
            placeholder="Link Title"
            class="form__input mb-4"
            v-model="form.pageCreate.title"
          />
          <input
            placeholder="Link URL"
            class="form__input mb-4"
            v-model="form.pageCreate.link"
          />
        </div>
        <div v-if="form.pageCreate.type === 'instagram'">
          <input
            placeholder="Page Name"
            class="form__input mb-4"
            v-model="form.pageCreate.name"
          />
          <select class="form__select mb-4" v-model="form.pageCreate.filter">
            <option defaukt value>No Filter</option>
            <option
              v-for="(hashtag, index) in site.hashtags"
              :key="index"
              :value="hashtag"
              >{{ hashtag }}</option
            >
          </select>
        </div>
        <p
          v-if="form.pageCreate.type !== ''"
          class="form__button text-center"
          @click="pageCreateSubmit"
        >
          Create Page
        </p>
      </div>
    </modal>

    <modal name="page-edit">
      <div class="modal flex flex-col p-4">
        <p class="modal__title">Edit Page</p>
        <input
          placeholder="Page Name"
          class="form__input mb-4"
          v-model="form.pageEdit.name"
        />
        <!-- Disable for now since require deleting and re-edit content -->
        <!-- <select
          v-if="form.pageEdit.type === 'instagram'"
          class="form__select mb-4"
          v-model="form.pageEdit.filter"
        >
          <option defaukt value>No Filter</option>
          <option
            v-for="(hashtag, index) in site.hashtags"
            :key="index"
            :value="hashtag"
          >{{hashtag}}</option>
        </select>-->
        <p class="form__button text-center" @click="pageEditSubmit">
          Edit Page
        </p>
      </div>
    </modal>
  </div>
</template>

<script>
import axios from "axios";
import defaultStyle from "../schema/defaultStyle.js";

import draggable from "vuedraggable";
import Autocomplete from "@/components/Autocomplete.vue";

Array.prototype.move = function(from, to) {
  this.splice(to, 0, this.splice(from, 1)[0]);
};

export default {
  name: "dashboard",
  components: {
    draggable,
    Autocomplete
  },
  created: async function() {
    axios.defaults.headers.common["Authorization"] = localStorage.getItem(
      "jwtToken"
    );
    await this.siteGetData();
  },
  data: function() {
    return {
      site: {},
      pages: [],
      form: {
        pageCreate: {
          name: "",
          handle: "",
          filter: "",
          type: "",
          title: "",
          link: ""
        },
        pageEdit: {
          _id: "",
          name: "",
          handle: "",
          filter: "",
          type: ""
        }
      }
    };
  },
  computed: {
    pagesOrdered: {
      get() {
        if (this.pages.length > 0) {
          let pages = this.site.navigation.map(x => {
            let result = this.pages.filter(s => s._id === x)[0];
            return result;
          });
          return pages;
        }
        return [];
      },
      set(value) {
        this.pages = value;
      }
    }
  },
  methods: {
    siteGetData: async function() {
      let slug = this.$route.params.site;
      //Get Site Info
      let siteResult = await axios.get(
        process.env.VUE_APP_API + `/api/site/get/info/${slug}`
      );
      let site = siteResult.data.site;
      console.log(site);
      //Get All Pages
      let pagesResult = await axios.get(
        process.env.VUE_APP_API + `/api/site/get/pages/${site._id}`
      );
      let pages = pagesResult.data.pages;

      //Assign Results
      this.site = site;
      this.pages = pages;
    },
    siteNavigationReorder: async function() {
      let navigation = this.pages.map(x => x._id);
      this.site.navigation = navigation;

      // return
      await axios.post(
        process.env.VUE_APP_API + `/api/site/update/navigation`,
        {
          _id: this.site._id,
          navigation: this.site.navigation
        }
      );
    },
    siteVisit: async function() {
      this.$router.push(`/${this.site.slug}`);
    },
    pageCreateModalShow: async function() {
      this.$modal.show("page-create");
    },
    pageCreateSubmit: async function() {
      let form = this.form.pageCreate;
      let site = this.site;

      //Check Duplicate
      if (
        this.pages.some(x => x.name.toLowerCase() === form.name.toLowerCase())
      ) {
        this.$notify({
          group: "popups",
          type: "error",
          title: "Page Name Exists",
          text: "Please choose a different Page Name"
        });
        return;
      }

      await axios.post(process.env.VUE_APP_API + `/api/page/create`, {
        name: form.name,
        handle: form.handle,
        filter: form.filter,
        title: form.title,
        link: form.link,
        type: form.type,
        site: site._id,
        style: defaultStyle
      });

      this.$notify({
        group: "popups",
        title: "Page Created",
        text: "Awesome!"
      });

      form.name = "";
      form.handle = "";
      form.filter = "";
      form.type = "";

      await this.siteGetData();
      this.$modal.hide("page-create");
    },
    pageEditModalShow: async function(page) {
      let form = this.form.pageEdit;
      form._id = page._id;
      form.name = page.name;
      form.handle = page.social.handle;
      form.filter = page.social.filter;
      form.type = page.type;
      this.$modal.show("page-edit");
    },
    pageEditSubmit: async function() {
      let form = this.form.pageEdit;

      //Check Duplicate
      if (
        this.pages.some(x => x.name.toLowerCase() === form.name.toLowerCase())
      ) {
        this.$notify({
          group: "popups",
          type: "error",
          title: "Page Name Exists",
          text: "Please choose a different Page Name"
        });
        return;
      }

      await axios.post(process.env.VUE_APP_API + `/api/page/edit`, {
        _id: form._id,
        name: form.name,
        handle: form.handle,
        filter: form.filter
      });

      this.$notify({
        group: "popups",
        title: "Page Edited",
        text: "Awesome!"
      });

      form._id = "";
      form.name = "";
      form.handle = "";
      form.filter = "";

      await this.siteGetData();
      this.$modal.hide("page-edit");
    },
    pageDeleteSubmit: async function(page) {
      await axios.post(process.env.VUE_APP_API + `/api/page/delete`, {
        _id: page._id
      });

      this.$notify({
        group: "popups",
        title: "Page Deleted",
        text: "Awesome!"
      });

      await this.siteGetData();
    },
    logout: function() {
      localStorage.removeItem("jwtToken");
      localStorage.removeItem("usergroup");
      this.$router.push("/");
      this.$notify({
        group: "popups",
        title: "Logout Successful",
        text: "Thank you for using SocialSite"
      });
    },
    managePosts: async function(page) {
      this.$router.push(`/dashboard/${this.site.slug}/${page.slug}`);
    },
    setAsHome: async function(page) {
      let site = this.site;
      await axios.post(process.env.VUE_APP_API + `/api/site/set/home`, {
        site: site._id,
        page: page._id
      });

      this.$notify({
        group: "popups",
        title: "Page set as Home",
        text: "Awesome!"
      });

      await this.siteGetData();
    }
  }
};
</script>
