<style scoped lang="scss">
.wrapper {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.sites {
}
.sites__thumbnail {
  padding: 5px;
}
.sites__thumbnail--inner {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  p {
    color: #fff;
    font-weight: 500;
  }
}
</style>

<template>
  <div class="wrapper">
    <div class="flex flex-col">
      <div class="flex flex-row justify-between mb-4">
        <p class="text-gray-800 text-xl font-bold">Welcome to SocialSite</p>
        <div
          @click="show"
          class="bg-gray-600 self-start text-white px-2 py-1 text-sm rounded font-medium hover:bg-gray-800 cursor-pointer"
        >
          + Create Site
        </div>
      </div>
      <p class="text-gray-800 font-bold text-xl">My Sites</p>
      <div class="sites flex flex-row mb-4 w-full">
        <div
          class="sites__thumbnail"
          v-for="(item, index) in sites"
          :key="index"
          @click="chooseSite(item)"
        >
          <div
            class="sites__thumbnail--inner bg-gray-600 text-white flex flex-col items-center justify-center text-center hover:bg-gray-800 cursor-pointer"
          >
            <p>{{ item.name }}</p>
          </div>
        </div>
      </div>
    </div>

    <modal name="hello-world">
      <b @click="hide">Website</b>
      <input placeholder="Website Name" class="border" v-model="name" />
      <input placeholder="Instagram Handle" class="border" v-model="handle" />
      <p class="mb-4" @click="create">Create Site</p>
    </modal>
  </div>
</template>

<script>
import axios from "axios";
import testStyle from "./test.js";
import test from './test.js';

export default {
  name: "Template",
  props: {},
  components: {},
  created: function() {
    this.getAll();
  },
  data: function() {
    return {
      name: "",
      handle: "",
      site: {
        _id: "",
        name: "",
        slug: ""
      },
      sites: [],
      pages: [],
      page: {
        name: "",
        social: "",
        filter: "",
        handle: ""
      }
    };
  },
  computed: {},
  methods: {
    show() {
      this.$modal.show("hello-world");
    },
    hide() {
      this.$modal.hide("hello-world");
    },
    create: function() {
      axios
        .post(process.env.VUE_APP_API + `/sites/create`, {
          name: this.name,
          handle: this.handle,
          style: testStyle
        })
        .then(res => {
          console.log(res);
          this.getAll();
          this.name = "";
        });
    },
    createPage: function() {
      axios
        .post(process.env.VUE_APP_API + `/sites/create/page`, {
          name: this.page.name,
          handle: this.page.handle,
          filter: this.page.filter,
          site: this.site._id
        })
        .then(res => {
          console.log(res);
          this.getAll();
          this.page.name = "";
          this.page.handle = "";
          this.page.filter = "";
          this.getPages();
        });
    },
    getAll: function() {
      axios.get(process.env.VUE_APP_API + `/sites/getAll`).then(res => {
        console.log(res);
        this.sites = res.data;
      });
      // axios.get(process.env.VUE_APP_API + `/sites/getPages`).then(res => {
      //   console.log(res);
      //   this.pages = res.data;
      // });
    },
    chooseSite: function(item) {
      this.$router.push("/dashboard/" + item.slug);
      return;
      this.site._id = item._id;
      this.site.name = item.name;
      this.site.slug = item.slug;
      this.getPages();
    },
    setAsHome: function(item) {
      axios
        .post(process.env.VUE_APP_API + `/sites/setAsHome`, {
          site: this.site._id,
          page: item._id
        })
        .then(res => {});
    },
    getPages: function() {
      console.log(this.page.page);
      axios
        .get(process.env.VUE_APP_API + `/sites/getPages/${this.site._id}`)
        .then(res => {
          console.log(res, "nav");
          this.pages = res.data;
        });
    }
  }
};
</script>
