<style scoped lang="scss">
@use '@/style/style.scss';

.site {
  z-index: 1;
  top: 0;
}

.modal {
  &.v--modal-overlay {
    background: transparent;
  }
  .v--modal-box {
    background: rgba(0, 0, 0, 0.6);
  }
}

.editor__box {
  position: fixed;
  bottom: 0;
  background: transparent;
  z-index: 1000;
  padding: 10px;
}
.editor__button {
  z-index: 1000;
  top: 100px;
  left: 20px;
  background: #222;
  color: #ffffff;
  display: block;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.editor__draggable {
  height: 10px;
  width: 100%;
  background: #888;
}
</style>

<template>
  <div class="min-h-screen">
    <div class="flex flex-row justify-end w-full editor__box" v-if="hasEditor">
      <div class="editor__button" @click="editorModalShow">Edit Design</div>
      <div class="editor__button" @click="mobileView">Mobile View</div>
      <div
        class="editor__button"
        @click="$router.push(`/dashboard/${params.site}`)"
      >
        Dashboard
      </div>
    </div>
    <EditorInstagram
      v-if="page.type === 'instagram'"
      @navigate="navigate"
    ></EditorInstagram>
    <EditorLinks
      v-if="page.type === 'links'"
      @navigate="navigate"
    ></EditorLinks>

    <modal
      name="editor"
      class="modal"
      :height="500"
      :width="300"
      :pivotX="0.1"
      :resizable="true"
      :draggable="'.editor__draggable'"
    >
      <div class="editor__draggable"></div>
      <EditorPanel :site="$route.params.site"></EditorPanel>
    </modal>
  </div>
</template>

<script>
import axios from "axios";
import EditorPanel from "@/components/editor/EditorPanel.vue";
import EditorInstagram from "@/components/editor/EditorInstagram.vue";
import EditorLinks from "@/components/editor/EditorLinks.vue";

export default {
  name: "Editor",
  props: {
    propPage: String,
    propSite: String,
    hasEditor: Boolean
  },
  components: {
    EditorPanel,
    EditorInstagram,
    EditorLinks
  },
  created: async function() {
    axios.defaults.headers.common["Authorization"] = localStorage.getItem(
      "jwtToken"
    );
    //Figure out params logic
    this.params.page =
      this.$route.params.page === undefined
        ? this.propPage
        : this.$route.params.page;
    this.params.site =
      this.$route.params.site === undefined
        ? this.propSite
        : this.$route.params.site;
    this.params.hasPage = this.params.page !== undefined;

    //Get Data
    await this.siteGetData();

    //Can use this to get HTML and save it somewhere
    // console.log(this.$refs.site.innerHTML);
  },
  data: function() {
    return {
      params: {
        page: "",
        site: "",
        hasPage: false
      }
    };
  },
  computed: {
    site: function() {
      return this.$store.getters["site"].site;
    },
    page: function() {
      return this.$store.getters["site"].page;
    },
    design: function() {
      return this.$store.getters["site"].design;
    },
    posts: function() {
      return this.$store.getters["site"].posts;
    },
    pages: function() {
      return this.$store.getters["site"].pages;
    }
  },
  methods: {
    editorModalShow: function() {
      this.$modal.show("editor");
    },
    siteGetData: async function() {
      let url = "";
      let pkg = {};
      if (this.params.hasPage) {
        url = `/api/page/load`;
        pkg = {
          site: this.params.site,
          slug: this.params.page
        };
      } else {
        url = `/api/site/load`;
        pkg = {
          slug: this.params.site
        };
      }

      //Get Site Info
      let siteResult = await axios.post(process.env.VUE_APP_API + url, pkg);

      //Get All Pages
      let pagesResult = await axios.get(
        process.env.VUE_APP_API +
          `/api/site/get/pages/${siteResult.data.site._id}`
      );
      let pages = pagesResult.data.pages;
      console.log(siteResult);
      //Add Data to Payload
      let payload = {
        site: siteResult.data.site,
        page: siteResult.data.page,
        posts: siteResult.data.posts,
        design: siteResult.data.design,
        pages: pages
      };

      //Dispatch Payload
      this.$store.commit("site", {
        type: "all",
        ...payload
      });

      this.$store.commit("style", {
        style: JSON.parse(this.design.style)
      });
    },
    navigate: async function(page) {
      console.log(page);
      let slug = page.slug;

      //Block same page redirection
      if (slug === this.params.page) {
        return;
      }
      if (page._id === this.site.home && this.params.page === undefined) {
        return;
      }

      //URL and Nav Interpreter Logic
      if (page._id === this.site.home) {
        this.params.page = undefined;
        this.params.hasPage = false;
        let url = this.hasEditor
          ? `/editor/${this.params.site}`
          : `/${this.params.site}`;
        await this.$router.push(url);
      } else {
        this.params.page = slug;
        this.params.hasPage = true;
        let url = this.hasEditor
          ? `/editor/${this.params.site}/${this.params.page}`
          : `/${this.params.site}/${this.params.page}`;
        await this.$router.push(url);
      }

      //Refresh Data
      await this.siteGetData();
    },
    mobileView: async function() {
      let slug = this.params.page;
      this.params.hasPage = true;
      let url = `/editor/mobile/${this.params.site}`;
      await this.$router.push(url);
    }
  }
};
</script>
