<style scoped lang="scss">
@use 'style';

.bg {
  padding-top: 50px;
}

.wrapper {
  width: 100%;
  max-width: 600px;
}

.page {
  border: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  .page__title {
    font-weight: 600;
    font-size: 14px;
  }
  .page__info {
    font-size: 12px;
    color: #666;
  }
  .page__button {
    background: #888;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 2px;
    margin-left: 5px;
  }
}
</style>

<template>
  <div class="bg flex flex-col items-center min-h-screen">
    <div class="wrapper flex flex-col justify-center items-center">
      <p class="pb-2 font-bold text-lg mb-5">Create a Website in one click</p>
      <input class="form__input mb-2" placeholder="Website Name" v-model="form.siteCreate.name" />
      <input
        class="form__input mb-5"
        placeholder="Instagram Account (without @)"
        v-model="form.siteCreate.handle"
      />
      <p class="form__button text-center mb-10" @click="sitesCreateSubmit">Create</p>

      <div
        class="page flex flex-row justify-between mb-2 handle"
        v-for="(item, index) in sites"
        :key="index"
      >
        <div class="flex flex-col">
          <p class="page__title">{{ item.name }}</p>
        </div>
        <div class="flex flex-row items-end">
          <p class="page__button" @click="$router.push(`/dashboard/${item.slug}`)">Edit</p>
          <p class="page__button" @click="siteDeleteSubmit(item)">Delete</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import defaultStyle from "../../schema/defaultStyle.js";

export default {
  name: "home",
  components: {},
  created: async function() {
    await this.sitesGetAll();
  },
  data: function() {
    return {
      sites: [],
      form: {
        siteCreate: {
          name: "",
          handle: ""
        }
      }
    };
  },
  computed: {},
  methods: {
    sitesGetAll: async function() {
      let sitesResult = await axios.get(
        process.env.VUE_APP_API + `/api/site/get/all`
      );
      console.log(sitesResult);

      this.sites = sitesResult.data.sites;
    },
    sitesCreateSubmit: async function() {
      let form = this.form.siteCreate;
      await axios.post(process.env.VUE_APP_API + `/api/site/create`, {
        name: form.name,
        handle: form.handle,
        style: defaultStyle
      });

      form.name = "";
      form.handle = "";

      await this.sitesGetAll();
    },
    siteDeleteSubmit: async function(site) {
      await axios.post(process.env.VUE_APP_API + `/api/site/delete`, {
        _id: site._id
      });

      await this.sitesGetAll();
    }
  }
};
</script>
