<style scoped lang="scss">
@use '@/style/style.scss';

.site {
  z-index: 1;
  top: 0;
}

.modal {
  &.v--modal-overlay {
    background: transparent;
  }
  .v--modal-box {
    background: rgba(0, 0, 0, 0.6);
  }
}

.editor__box {
  position: fixed;
  bottom: 0;
  background: transparent;
  z-index: 1000;
  padding: 10px;
}
.editor__wrapper {
  height: 100vh;
}
.editor__button {
  z-index: 1000;
  top: 100px;
  left: 20px;
  background: #222;
  color: #ffffff;
  display: block;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.editor__draggable {
  height: 10px;
  width: 100%;
  background: #888;
}
.editor__mobile {
  width: 400px;
  height: 600px;
}
.editor__panel {
  height: 100vh;
  // overflow-y: scroll;
}
.editor__desktop {
  height: 100vh;
}
</style>

<template>
  <div>
    <div class="flex flex-row justify-end w-full editor__box">
      <!-- <div class="editor__button" @click="editorModalShow">Edit Design</div> -->
      <div class="editor__button" @click="saveStyle">
        Save Design ({{ autosaveTime - autosaveCount }})
      </div>
      <div
        class="editor__button"
        @click="editorView = 'desktop'"
        v-if="editorView === 'mobile'"
      >
        Desktop View
      </div>
      <div
        class="editor__button"
        @click="editorView = 'mobile'"
        v-if="editorView === 'desktop'"
      >
        Mobile View
      </div>
      <div
        class="editor__button"
        @click="$router.push(`/dashboard/${params.site}`)"
      >
        Dashboard
      </div>
    </div>
    <div class="flex flex-row justify-center items-center editor__wrapper">
      <div :class="editorMode.panel">
        <EditorPanel
          :site="$route.params.site"
          device="mobile"
          v-if="editMode"
        ></EditorPanel>
        <Site v-if="!editMode"></Site>
      </div>
      <div :class="editorMode.editor">
        <EditorInstagram
          v-if="page.type === 'instagram'"
          :device="editorMode.device"
          @navigate="navigate"
        ></EditorInstagram>
        <EditorLinks
          v-if="page.type === 'links'"
          :device="editorMode.device"
          @navigate="navigate"
        ></EditorLinks>
      </div>
    </div>

    <modal
      name="editor"
      class="modal"
      :height="500"
      :width="300"
      :pivotX="0.1"
      :resizable="true"
      :draggable="'.editor__draggable'"
    >
      <div class="editor__draggable"></div>
      <EditorPanel :site="$route.params.site"></EditorPanel>
    </modal>
  </div>
</template>

<script>
import axios from "axios";
import EditorPanel from "@/components/editor/EditorPanel.vue";
import EditorInstagram from "@/components/editor/EditorInstagram.vue";
import EditorLinks from "@/components/editor/EditorLinks.vue";

import Site from "@/components/integration/Site.vue";

export default {
  name: "Editor",
  props: {
    propPage: String,
    propSite: String
  },
  components: {
    EditorPanel,
    EditorInstagram,
    EditorLinks,
    Site
  },
  created: async function() {
    axios.defaults.headers.common["Authorization"] = localStorage.getItem(
      "jwtToken"
    );
    //Figure out params logic
    this.params.page =
      this.$route.params.page === undefined
        ? this.propPage
        : this.$route.params.page;
    this.params.site =
      this.$route.params.site === undefined
        ? this.propSite
        : this.$route.params.site;
    this.params.hasPage = this.params.page !== undefined;

    //Get Data
    await this.siteGetData();
    this.autosaveStart();

    //Can use this to get HTML and save it somewhere
    // console.log(this.$refs.site.innerHTML);
  },
  data: function() {
    return {
      params: {
        page: "",
        site: "",
        hasPage: false
      },
      autosave: "",
      autosaveCounter: "",
      autosaveCount: 0,
      autosaveTime: 300
    };
  },
  computed: {
    editMode: {
      get() {
        return this.$store.getters["editMode"];
      },
      set(value) {
        this.$store.commit("editMode", value);
      }
    },
    editorView: {
      get() {
        return this.$store.getters["editorView"];
      },
      set(value) {
        this.$store.commit("editorView", value);
      }
    },
    editorMode: function() {
      if (this.editorView === "mobile") {
        return {
          panel: "editor__panel w-6/12",
          editor: "editor__mobile",
          device: "mobile"
        };
      }
      if (this.editorView === "desktop") {
        return {
          panel: "editor__panel w-4/12",
          editor: "editor__desktop w-8/12",
          device: "desktop"
        };
      }
    },
    site: function() {
      return this.$store.getters["site"].site;
    },
    page: function() {
      return this.$store.getters["site"].page;
    },
    design: function() {
      return this.$store.getters["site"].design;
    },
    posts: function() {
      return this.$store.getters["site"].posts;
    },
    pages: function() {
      return this.$store.getters["site"].pages;
    },
    componentStyle: function() {
      return this.$store.getters["style"];
    }
  },
  destroyed: function() {
    this.autosaveStop();
  },
  methods: {
    autosaveStart: function() {
      this.autosave = setInterval(x => {
        this.saveStyle();
      }, this.autosaveTime * 1000);
      this.autosaveCounter = setInterval(x => {
        this.autosaveCount++;
      }, 1000);
    },
    autosaveStop: function() {
      clearInterval(this.autosave);
      clearInterval(this.autosaveCounter);
      this.autosaveCount = 0;
      console.log("autosave stop");
    },
    saveStyle: function() {
      this.$store.dispatch("style", {
        style: this.componentStyle,
        site: this.params.site,
        save: true
      });

      this.$notify({
        group: "popups",
        title: "Design Saved Mobile",
        text: "Awesome!"
      });
      this.autosaveStop();
      this.autosaveStart();
    },
    editorModalShow: function() {
      this.$modal.show("editor");
    },
    siteGetData: async function() {
      this.$store.dispatch("siteGetData", {
        params: this.params
      });
    },
    siteGetDataOld: async function() {
      let url = "";
      let pkg = {};
      if (this.params.hasPage) {
        url = `/api/page/load`;
        pkg = {
          site: this.params.site,
          slug: this.params.page
        };
      } else {
        url = `/api/site/load`;
        pkg = {
          slug: this.params.site
        };
      }

      //Get Site Info
      let siteResult = await axios.post(process.env.VUE_APP_API + url, pkg);

      //Get All Pages
      let pagesResult = await axios.get(
        process.env.VUE_APP_API +
          `/api/site/get/pages/${siteResult.data.site._id}`
      );
      let pages = pagesResult.data.pages;

      //Add Data to Payload
      let payload = {
        site: siteResult.data.site,
        page: siteResult.data.page,
        posts: siteResult.data.posts,
        design: siteResult.data.design,
        pages: pages
      };

      console.log(payload.site.navigation);

      //Dispatch Payload
      this.$store.commit("site", {
        type: "all",
        ...payload
      });

      this.$store.commit("style", {
        style: JSON.parse(payload.design.style)
      });
    },
    navigate: async function(page) {
      let slug = page.slug;

      //Block same page redirection
      if (slug === this.params.page) {
        return;
      }
      if (page._id === this.site.home && this.params.page === undefined) {
        return;
      }

      //URL and Nav Interpreter Logic
      if (page._id === this.site.home) {
        this.params.page = undefined;
        this.params.hasPage = false;
        let url = this.hasEditor
          ? `/editor/mobile/${this.params.site}`
          : `/${this.params.site}`;
        await this.$router.push(url);
      } else {
        this.params.page = slug;
        this.params.hasPage = true;
        let url = this.hasEditor
          ? `/editor/mobile/${this.params.site}/${this.params.page}`
          : `/${this.params.site}/${this.params.page}`;
        await this.$router.push(url);
      }

      //Refresh Data
      await this.siteGetData();
    },
    desktopView: async function() {
      let slug = this.params.page;
      this.params.hasPage = true;
      let url = `/editor/${this.params.site}`;
      await this.$router.push(url);
    }
  }
};
</script>
