<style scoped lang="scss">
</style>

<template>
  <div>
    <p @click="$router.push(`/${$route.params.site}`)">{{ page.page.name }}</p>
    <div class="flex flex-row" v-for="(item, index) in nav" :key="index">
      <p @click="navigate(item.slug)">{{ item.name }}</p>
    </div>
    <div class="flex flex-row flex-wrap">
      <div
        v-for="(item, index) in page.photos.photos"
        :key="index"
        class="flex w-3/12"
      >
        <img class="w-full" :src="item.thumbnail_src" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Template",
  props: {},
  components: {},
  created: async function() {
    await this.getData();
    await this.getPages();
  },
  data: function() {
    return {
      page: {
        page: {
          name: "",
          site: ""
        },
        photos: {
          photos: []
        }
      },
      nav: []
    };
  },
  computed: {},
  methods: {
    getData: async function() {
      let res = await axios.get(
        process.env.VUE_APP_API + `/sites/get/page/${this.$route.params.slug}`
      );
      console.log(res, "hi");
      this.page = res.data;
    },
    getPages: async function() {
      console.log(this.page.page);
      let res = await axios.get(
        process.env.VUE_APP_API + `/sites/getPages/${this.page.page.site}`
      );
      console.log(res, "nav");
      this.nav = res.data;
    },
    navigate: async function(slug) {
      if (slug === this.$route.params.slug) {
        return;
      }
      await this.$router.push(`/${this.$route.params.site}/${slug}`);
      await this.getData();
    }
  }
};
</script>
