<style scoped lang="scss">
.page {
  padding: 20px 5px;
}
.heading {
  font-size: 20px;
  font-weight: 600;
}
.navigation__link {
  padding: 0 5px;
}
.content {
  max-width: 800px;
}
.content__item {
  padding: 10px;
  img {
    border-radius: 10px;
  }
}
</style>

<template>
  <div class="flex flex-col items-center page">
    <p class="heading">{{ page.site.name }}</p>
    <div class="flex flex-row navigation">
      <div class="navigation__link" v-for="(item, index) in nav" :key="index">
        <p @click="navigate(item.slug)">{{ item.name }}</p>
      </div>
    </div>
    <div class="flex flex-row flex-wrap content w-full">
      <div
        v-for="(item, index) in page.photos.photos"
        :key="index"
        class="flex w-4/12 content__item"
      >
        <img class="w-full" :src="item.thumbnail_src" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Template",
  props: {},
  components: {},
  created: async function() {
    await this.getData();
    await this.getPages();
  },
  data: function() {
    return {
      page: {
        page: {
          name: "",
          site: ""
        },
        photos: {
          photos: []
        },
        site: {}
      },
      nav: []
    };
  },
  computed: {},
  methods: {
    getData: async function() {
      console.log(this.$route.params.slug);
      console.log(this.$route.params.site);
      let slug = this.$route.params.slug;
      let site = this.$route.params.site;
      let url = `/sites/get/site/${site}`;
      if (slug !== undefined) {
        url = `/sites/get/page/${slug}`;
      }
      console.log(url);
      let res = await axios.get(process.env.VUE_APP_API + url);
      console.log(res, "hi");
      this.page = res.data;
    },
    getPages: async function() {
      console.log(this.page.page);
      let res = await axios.get(
        process.env.VUE_APP_API + `/sites/getPages/${this.page.page.site}`
      );
      console.log(res, "nav");
      this.nav = res.data;
    },
    navigate: async function(slug) {
      console.log(slug);
      if (slug === this.$route.params.slug) {
        return;
      }
      await this.$router.push(`/${this.$route.params.site}/${slug}`);
      await this.getData();
    }
  }
};
</script>
