<style scoped lang="scss">
.background {
  background-color: #ff0000;
}

.header {
  background-color: #fff000;
  text-align: center;
  width: 100%;
  padding: 20px 20px 20px 20px;
}
.header__title {
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
}

.navigation {
  width: 100%;
  text-align: center;
  background-color: #222;
}
.navigation__link {
  padding: 0 5px;
  color: #fff;
}

.body {
  max-width: 800px;
  padding: 20px;
  width: 100%;
}

.card {
  padding: 10px;
}
.card__img {
  border-radius: 10px;
  width: 100%;
}
</style>

<template>
  <div
    :class="convertToClass('background')"
    :style="convertToStyle('background')"
  >
    <!-- Header -->
    <div :class="convertToClass('header')" :style="convertToStyle('header')">
      <p
        :class="convertToClass('header__title')"
        :style="convertToStyle('header__title')"
      >
        {{ page.site.name }}
      </p>
      <div
        :class="convertToClass('navigation')"
        :style="convertToStyle('navigation')"
      >
        <div
          :class="convertToClass('navigation__link')"
          :style="convertToStyle('navigation__link')"
          v-for="(item, index) in nav"
          :key="index"
        >
          <p @click="navigate(item.slug)">{{ item.name }}</p>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div :class="convertToClass('body')" :style="convertToStyle('body')">
      <!-- Card -->
      <div
        v-for="(item, index) in page.photos.photos"
        :key="index"
        :class="convertToClass('card')"
        :style="convertToStyle('card')"
      >
        <img
          :class="convertToClass('card__img')"
          :style="convertToStyle('card__img')"
          :src="item.thumbnail_src"
          @click="goToPost(item)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Template",
  props: {
    slug: String,
    site: String
  },
  components: {},
  created: async function() {
    if (this.$route.params.slug === undefined) {
      this.params.slug = this.slug;
    } else {
      this.params.slug = this.$route.params.slug;
    }

    if (this.$route.params.site === undefined) {
      this.params.site = this.site;
    } else {
      this.params.site = this.$route.params.site;
    }

    console.log(this.params);

    await this.getData();
    await this.getPages();
  },
  data: function() {
    return {
      page: {
        page: {
          name: "",
          site: ""
        },
        photos: {
          photos: []
        },
        site: {}
      },
      nav: [],
      params: {
        slug: "",
        site: ""
      }
    };
  },
  computed: {
    compStyle: {
      get() {
        return this.$store.getters["style"];
      },
      set(value) {
        return this.$store.commit("style", {
          style: value
        });
      }
    }
  },
  methods: {
    convertToClass: function(component) {
      let thisClass = this.compStyle.filter(x => x.component === component)[0];
      let processed = thisClass.class.map(x => x.value);
      let string = component + " " + processed.join(" ");
      return string;
    },
    convertToStyle: function(component) {
      let thisStyle = this.compStyle.filter(x => x.component === component)[0];
      let processed = thisStyle.style.map(x => x.property + ":" + x.value);
      let string = processed.join(";") + ";";
      return string;
    },
    getData: async function() {
      console.log(this.params.slug);
      console.log(this.params.site);
      let slug = this.params.slug;
      let site = this.params.site;
      let url = `/sites/get/site/${site}`;
      if (slug !== undefined) {
        url = `/sites/get/page/${slug}`;
      }
      console.log(url);
      let res = await axios.get(process.env.VUE_APP_API + url);
      console.log(res, "hi");
      this.page = res.data;
      this.$store.commit("style", {
        style: JSON.parse(res.data.design.style)
      });
    },
    getPages: async function() {
      console.log(this.page.page);
      let res = await axios.get(
        process.env.VUE_APP_API + `/sites/getPages/${this.page.page.site}`
      );
      console.log(res, "nav");
      this.nav = this.page.site.navigation.map(x => {
        return res.data.filter(s => s._id === x._id)[0];
      });
    },
    navigate: async function(slug) {
      console.log(slug, this.params.slug);
      if (slug === this.params.slug) {
        return;
      }
      console.log("two", slug);
      this.params.slug = slug;
      await this.$router.push(`/${this.params.site}/${slug}`);
      await this.getData();
    },
    goToPost: async function(item) {
      // console.log(slug, this.params.slug);
      // if (slug === this.params.slug) {
      //   return;
      // }
      // console.log("two", slug);
      // this.params.slug = slug;
      await this.$router.push(`/${this.params.site}/post/${item.id}`);
      // await this.getData();
    }
  }
};
</script>
