<style scoped lang="scss">
.img {
  // width: 200px;
}
.card--wrapper {
  // width: 800px;
}
.card {
}
.card--inside {
  background: #ddd;
}
</style>

<template>
  <div>
    <!-- header -->
    <div>
      <p @click="page('all')">Home</p>
      <div class="flex flex-row">
        <p class="px-2" @click="page('wintersale')">Winter Sale</p>
        <p class="px-2" @click="page('brawlstars')">Brawl Stars</p>
      </div>
    </div>
    <!-- body -->

    <div class="flex flex-row card--wrapper w-full flex-wrap">
      <div
        class="card flex flex-col w-4/12 p-2"
        v-for="(item, index) in photos"
        :key="index"
      >
        <div class="card--inside flex flex-col w-full">
          <img :src="item.thumbnail_src" class="img" />
          <p>Title</p>
          <p>Description</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Template",
  props: {},
  components: {},
  created: function() {
    let params = this.$route.params.page;
    if (params === undefined) {
      this.getPhotos("all");
    } else {
      this.getPhotos("hashtag", params);
    }
  },
  data: function() {
    return {
      photos: []
    };
  },
  computed: {},
  methods: {
    getPhotos: async function(type, hashtag) {
      console.log("get");
      let url =
        type === "all"
          ? "http://localhost:3007/api/photos/linefriends"
          : "http://localhost:3007/api/linefriends/hashtags/" + hashtag;
      // let url =
      //   "http://localhost:3007/api/simbathegiantcreampuff/hashtags/christmas";
      let result = await axios.get(url);
      this.photos = result.data.data;
      console.log(result);
    },
    page: function(hashtag) {
      if (hashtag === "all") {
        this.getPhotos("all");
      } else {
        this.getPhotos("hashtag", hashtag);
      }
    }
  }
};
</script>
