<style scoped lang="scss">
.site{
  max-width: 987px;
  width: 100%;
  margin: 0 auto;
}
.header {
  padding: 20px 20px;
}
.header__title {
  font-weight: 800;
  font-size: 40px;
  // padding: 20px;
}
.nav{
  // padding: 0 0 40px 0;
}
.nav p {
  font-size: 14px;
  color: #aaa;  
}



.body {
  max-width: 987px;
}

.card {
  padding: 10px;
}

.description{
  font-size: 14px;
  color: #aaa;
  padding: 0 10px 20px 0px;
}
</style>

<template>
  <div class="site flex flex-row">
    <!-- Header -->
    <div class="header flex flex-col items-start w-4/12">
      <p class="header__title text-left">nano</p>
      <p class="description">Description right here</p>
      <!-- navigation -->
      <div class="nav flex flex-col justify-center text-left">
        <p>Store</p>
        <p>About</p>
        <p>Themecloset</p>
        <p>Archive</p>
        <p>Theme Credit</p>
      </div>      
    </div>
    <!-- Body -->
    <div class="body flex flex-col flex-wrap items-center w-8/12">
      <div class="card" v-for="n in 10" :key="n">
        <img
          :src=" n % 2 ? `https://66.media.tumblr.com/2371ad043d7cd8d645bfeceda131e51b/tumblr_mztvif3e6k1qarsh8o1_400.jpg` : `https://66.media.tumblr.com/0fc8eb068e3b3505e93d531934df9ee4/tumblr_o3xgaegrev1tm0l12o1_400.jpg`"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Input",
  props: {}
};
</script>
