<style scoped lang="scss">
.header {
  padding: 150px 20px;
}
.header__title {
  font-weight: 800;
  font-size: 60px;
  padding: 20px;
}
.nav{
  padding: 0 0 40px 0;
}
.nav p {
  font-size: 14px;
  color: #aaa;
  padding: 0 10px;
}



.body {
  max-width: 987px;
}

.card {
  padding: 10px;
}

.description{
  font-size: 14px;
  color: #aaa;
  padding: 0 10px;
}
</style>

<template>
  <div class="site flex flex-col items-center">
    <!-- Header -->
    <div class="header flex flex-col items-center">
      <p class="header__title text-center">Mechant</p>
      <!-- navigation -->
      <div class="nav flex flex-row justify-center text-center">
        <p>Store</p>
        <p>About</p>
        <p>Themecloset</p>
        <p>Archive</p>
        <p>Theme Credit</p>
      </div>
      <p class="description">Description right here</p>
    </div>
    <!-- Body -->
    <div class="body flex flex-row flex-wrap justify-center">
      <div class="card" v-for="n in 10" :key="n">
        <img
          :src=" n % 2 ? `https://66.media.tumblr.com/2371ad043d7cd8d645bfeceda131e51b/tumblr_mztvif3e6k1qarsh8o1_400.jpg` : `https://66.media.tumblr.com/0fc8eb068e3b3505e93d531934df9ee4/tumblr_o3xgaegrev1tm0l12o1_400.jpg`"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Input",
  props: {}
};
</script>
